{% extends 'base.html' %}
{% load static %}

{% block title %}Allcakes Mypage{% endblock %}

{% block css %}
<!-- 이 페이지의 css가 필요 시 적용 -->
{% endblock %}

{% block content %}
<!-- 전달된 값은 user_pk값(user_pk), 최근 리뷰 4개(reviews), 진행 주문정보 모두(orders), 케이크 찜4개(liked_cakes), 가게 찜 4개(liked_stores) -->
<!-- 보안을 위해 로그인된 유저와 url속 pk가 다르면 접근하지 못하게 해야 함. -->
{% if user.pk != user_pk %}
    <!-- 여기 유저 관련정보 작성 절대 X -->
    <h1> 잘못된 접근입니다 (Allcakes)</h1>
{% else %}
    <!-- 모든 정보가 들어가는 곳 O -->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1> 마이 페이지 </h1>


    <div class="user-info">
        <h2> 고객 정보 </h2>
        <div class="user-detail">
            <!-- 일반 로그인 시 email 정보, 닉네임 정보가 있고 
            카카오 로그인 시 email, 닉네임, 선택적으로 생일, 성별, 연령대가 있음 
            남자인지, 내 생일이 언제인지, 연령대는 어디인지는 유저에게 보고 싶은 정보가 아님. 
            닉네임만 보여주고 정보 수정 눌렀을 때 닉네임만 수정하도록 하기. (나머지는 카카오 동의 철회로 구현)  -->

            <p>닉네임: {{user.nickname}}</p>

            {% if not user.is_kakao %}
            <p>이메일: {{user.email}}</p>
            {% endif %}
            <a href="{% url 'edit_nickname' %}"><button>수정</button></a>
            <a href="{% url 'delete_user' pk=user.pk %}"><button>탈퇴</button></a>
            <!-- 수정페이지, 탈퇴 기능 및 페이지 구현 필요 -->
        </div>
    </div>
    <div class="user-review">
        <h2> 리뷰 관리 </h2>
        <div class="review-info">
            <!-- 리뷰 상세보기, 수정, 삭제 구현 아직 X -->
            <!-- 케잌이미지, 케이크이름, 가게이름, 별점, 평가내용(15자 까지) -->
            <!-- 이미지에 리뷰 자세히보기 링크 달아야 함. -->
            {% for review in reviews %}
            <a href="#"><img src="{{review.referred_cake.cake_image.url}}" aria-label="주문한 케이크" width ="100" height="100"></a>
            <br>
            <span>Cake: {{review.referred_cake}}</span>
            <br>
            <span>Store: {{review.referred_store}}</span>
            <br>
            <section>{{review.comment|slice:"15"}}</section>
            <span class="fa fa-star fa-2x checked"></span>
            <span class="fa fa-star fa-2x {% if review.rate > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star fa-2x {% if review.rate > 2 %} checked {% endif %}"></span>
            <span class="fa fa-star fa-2x {% if review.rate > 3 %} checked {% endif %}"></span>
            <span class="fa fa-star fa-2x {% if review.rate > 4 %} checked {% endif %}"></span>
            <br><br>
            
            {% endfor %}
            <a href=""><button>더보기</button></a> 
            <!-- 내 리뷰 전체 페이지 구현 필요 -->
        </div>
    </div>
    <!-- 주문 내역이 리뷰 관리보다 먼저 나와야 편하지 않을까? -->
    <!-- 주문 내역 관리를 마이페이지에서 할 거면 -->
    <!-- 마이페이지에서 주문을 관리할 수 있다고 주문 끝나고 알려주기라도 해야 될 듯 함. -->
    <div class="user-order">
        <h2> 주문 내역 </h2>
        <div class="order-info">
            <table style="width:100%">
                <tr>
                    <th>주문 번호</th>
                    <th>케이크 사진</th>
                    <th>가게 이름</th>
                    <th>진행 상태</th> <!--진행상태 예시: 결제완료(is_paid=True), 접수완료(is_accepted=True), 픽업완료(is_active=False) -->
                    <th>주문 일시</th>
                    <th>리뷰 작성</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <!-- 순서대로 주문번호, 케이크사진, 가게이름, 진행상태, 주문일시, 리뷰작성 -->
                    <td>{{order.pk}}</td>

                    <!-- 아래 부분 이미지 링크 주문 상세 페이지로 가도록 바꿔야 함. -->
                    <td><a href="{% url 'cake_detail' pk=order.referred_cake.pk %}"><img src="{{order.referred_cake.cake_image.url}}" aria-label="주문한 케이크" width ="100" height="100"></a></td>
                    
                    <td>{{order.referred_store}}</td>

                    {% if order.is_paid %}
                    <td>결제완료</td>
                    {% else %}
                    <td>결제미완료</td>
                    {% endif %}
                    
                    <td>{{ order.order }}{{order.pub_date}}</td>
                    
                    {% if order.reviewing == 1 %}
                    <td><a href="{% url 'review_page' pk=order.referred_cake_id orderpk=order.id %}">리뷰 작성</a></td>
                    {% else %}
                    <td><a href="{% url 'review_edit' pk=order.pk %}">리뷰 수정</a><br>
                        <a href="{% url 'review_delete' pk=order.pk %}">리뷰 삭제</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <br><br>
            <a href=""><button>더보기</button></a> 
            <!-- 주문 내역 전체 페이지 구현 필요 -->
        </div>
    </div>
    <div class="user-liked">
        <h2> 찜한</h2>

        <!-- 케이크 -->
        <div class="liked-cakes">
            <h3>케이크</h3>
            <div class="liked-contents">
                <!-- 순서대로 케이크 이미지, 케이크이름, 가게이름, 본문 -->
                {% for cake in liked_cakes %}
                <div class="each-cake">
                    <a href="{% url 'cake_detail' pk=cake.pk %}"><img src="{{cake.cake_image.url}}" aria-label="케이크 이미지" width ="100" height="100"></a>
                    <br>
                    <span>{{cake.cakename}}</span>
                    <br>
                    <span>store: {{cake.referred_store}}</span>
                    <section>설명: {{cake.body|slice:"15"}}</section>
                </div>
                {% endfor %}
            </div>
            <a href=""><button>더보기</button></a> 
            <!-- 내 찜한 전체 리스트 더보기 구현 필요 -->
        </div>

        <!-- 가게 -->
        <div class="liked-stores">
            <h3>가게:</h3>
            <div class="liked-contents">
                <!-- 순서대로 가게이름, 이미지, 장소, 본문 -->
                {% for store in liked_stores %}
                <div class="each-store">
                    <span>{{store.name}}</span>
                    <a href="{% url 'store_detail' pk=store.pk %}"><img src="{{store.store_image.url}}" aria-label="가게 이미지" width ="100" height="100"></a>
                    <span>{{store.location}}</span>
                    <section>{{store.text|slice:"15"}}</section>
                </div>
                {% endfor %}
            </div>
            <a href=""><button>더보기</button></a> 
            <!-- 내 찜한 전체 리스트 더보기 구현 필요 -->
        </div>
    </div>
{% endif %}
</body>
{% endblock %}