@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    padding-bottom: 0%;
}


.fixed-top {
    border-bottom: 4px solid;
}

.btn-secondary {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-color: white;
    border: 1px solid #bbbdbe;
    border-radius: 5%;
    margin-top: 5px;


}

.navbar-light .navbar-nav .nav-link {
    color: black;
}


.nav-item a::after {
    /*after 가상요소*/
    display: block;
    /*a요소를 블록 요소라고 선언*/

    content: '';
    border-bottom: solid 1px rgb(116, 117, 201);
    transform: scaleX(0);
    /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out;
    /*변형 방식*/
}


.nav-item a:hover:after {
    transform: scaleX(1);
    /*a 속성에 hover시 기존 크기로*/
}

.btn-secondary:hover {
    background-color: rgb(116, 117, 201);
}

.navbar-brand {
    margin-left: 10px;
    margin-right: 22px;
    padding-bottom: 3px;
    font-family: 'SF_HambakSnow';
    font-size: 30px;
}

.navbar-nav {
    margin-top: 6px;
}

.navbar-nav a {
    font-family: 'SF_HambakSnow';
    font-size: 17px;
    color: rgb(29, 29, 29);

}


footer {
    /* height: 360px; */
    height: auto;
    background-color: black;
}

.footerContent1 {
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 30px;
}

.about {
    width: 30%;
}

.aboutTitle,
.categoryTitle,
.linkTitle {
    font-family: 'NotoSerifKR';
    font-size: 20px;
    font-weight: bold;
}

.aboutContent {
    font-family: 'Cafe24Oneprettynight';
}

.categories {
    width: 15%;
}


.categories li {
    list-style: none;
}

.categories a:link {
    color: white;
    text-decoration: none;
}

.categories a:visited {
    color: rgb(255, 255, 255);
}

.categories a:hover {
    color: rgb(237, 167, 255);
}

.categories li ul {
    padding-left: 0;
    font-family: 'Cafe24Oneprettynight';
}

.links {
    width: 15%;
}

.links li {
    list-style: none;
}

.links a:link {
    color: white;
    text-decoration: none;
}

.links a:visited {
    color: rgb(255, 255, 255);
}

.links a:hover {
    color: rgb(162, 195, 255);
}


.links li ul {
    padding-left: 0;
    font-family: 'Cafe24Oneprettynight';
}

.underline {
    border: 1.5px rgb(255, 255, 255) solid;
    width: 90%;
    align-items: center;
    margin-left: 1%;
}

.underline2 {
    border: 1px rgb(221, 199, 255) solid;
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

.footerContent2 p {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 6%;
    font-family: 'Cafe24Oneprettynight';
    color: white;
    font-weight: bold;
}

/* 별점 */
.checked {
    color: orange;
}
.rating-wrapper input[type=radio] {
    display: none;

}