
/* 버튼 관련 */
button{
    width:100px;
    border-radius: 25px 25px 25px 25px;
    border-width: 5px;
    border-color: black;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 8px;
    margin: 4px;
    cursor: pointer;
}

.items{
    display: none;
}