#home-img1 {
  background-image: url(../img/carousel1.jpeg);
}

#home-img2 {
  background-image: url(../img/carousel2.jpeg);
}

#home-img3 {
  background-image: url(../img/carousel3.jpeg);
}

.home-img-display {
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
  color: rgb(0, 0, 0);
}




@font-face {
  font-family: 'NotoSerifKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BBTreeGB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#body {
  height: auto;
  /* background-color: rgba(142, 163, 170, 0.068); */
  background-color: rgba(202, 202, 202, 0.151);
  padding-bottom: 0;
  margin-bottom: 0%;
}



/*오늘의 케이크 css*/
.today {
  height: 560px;
  margin-top: 80px;
}

.underToday {
  border: 1.5px black solid;
  width: 92%;
  align-items: center;
  margin-left: 3%;
}

.todayHeader {
  font-size: 33px;
  font-family: 'GongGothicMedium';
  margin-left: 50px;
  margin-top: 50px;
}

.todayCakes {
  padding-top: 30px;
  height: 380px;


}

.cakeItem {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardStore {
  width: 17%;
}
.cardStore-last{
  background-color: rgb(255, 255, 255);
  border: 1px rgb(196, 196, 196) solid;
}

.cardImg {
  width: 100%;
  height:100%;
  margin-bottom: 10px;

}

.titleText {
  display: flex;
  font-family: 'BBTreeGB';
  padding: 4%;
  margin-bottom: 3%;
}

.cardTitle {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;

}


.cardStore section {
  font-family: 'BBTreeGB';
  font-size: 0.9rem;
  color: rgba(61, 61, 61, 0.767);
  padding: 0 2% 0 1% ;
  margin-left: 2%;
  line-height: 1.7rem;

}


/* .goDetail {
  background-color: rgba(190, 177, 230, 0.295);
  font-family: 'BBTreeGB';
  border-radius: 5px;
  border: solid rgba(44, 44, 44, 0.507) 1.3px;
  padding: 3px;
  font-size: 0.8rem;
  float: right;
  margin-right: 6%;
} */



.underCard{
  border: 1.5px rgb(170, 170, 170) solid;
  width: 85%;
  align-items: center;
  margin-left: 5%;
}

.cardStore a:link {
  text-decoration: none;
  color: black;
}

.cardStore a:visited {
  color: rgb(36, 17, 54);

}

.cardStore a:hover {
  color: rgb(128, 77, 98);
}




/*리뷰 내용 css*/

.review {
  height: auto;
}


.underReview {
  border: 1.5px black solid;
  width: 90%;
  align-items: center;
  margin-left: 3%;
}

.reviewHeader {
  font-size: 33px;
  font-family: 'GongGothicMedium';
  margin-left: 50px;
  margin-top: 50px;
}

.fourReviews {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article{
  display: flex;
}


/* 수정 */
.reviewItem {
  width: 530px;
  background-color: #ffffff;
  height: 200px;
  margin-bottom: 60px;
  display: flex;
  border: 1px rgb(182, 181, 181) solid;
}



/* 수정 */
.reviewImage img {
  width: 180px;
  height: 100%;
  border-right: 1px rgb(182, 181, 181) solid;
}



.reviewText {
  padding: 14px 10px 5px 20px;
  width: 70%;
}

.reviewTitle{
  margin-bottom: 13px;
}

.review-title1{
  font-family: 'GongGothicMedium';
  font-size: 19px;
  margin-right: 10px;
}

.review-title2{
  font-family: 'GongGothicMedium';
  font-size: 16px;
}

.reviewText a{ 
  padding-left: 2%;
}

.reviewDetail {
  font-family: 'BBTreeGB';
  color: rgba(61, 61, 61, 0.767);
  font-size: 14px;
  padding: 3% 3% 3% 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4em;
  height: 4.7em;
  }





.userId {
  font-family: 'BBTreeGB';
  font-size: 14px;
  color: rgb(105, 105, 105);
  margin-left: 2%;
}


.reviewTitle a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.reviewTitle a:visited {
  color: rgb(95, 95, 95);
}

.reviewTitle a:hover {
  color: rgb(158, 180, 206);
}


/*리뷰 내용 css 끝*/


/* 반응형 */





@media screen and (max-width:768px) {

  #body{
    height: auto;
  }

  .today{
    height: 900px;
  }

  .review{
    height: auto;
  }

  .cakeItem{
    display: flex;
    flex-wrap: wrap;
  }

  .cardStore{
    width: 35%;
  }
    
  .cardStore-last{
    margin-bottom: 10%;
  }
}

