#home-img1 {
  background-image: url(../img/carousel1.png);
}

#home-img2 {
  background-image: url(../img/carousel2.png);
}

#home-img3 {
  background-image: url(../img/carousel3.png);
}

.home-img-display {
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
  color: rgb(0, 0, 0);
}




@font-face {
  font-family: 'NotoSerifKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BBTreeGB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#body {
  height: auto;
  background-color: rgba(142, 163, 170, 0.068);
  padding-bottom: 0;
  margin-bottom: 0%;
}



/*오늘의 케이크 css*/
.today {
  height: 560px;
  margin-top: 80px;
}

.underToday {
  border: 1.5px black solid;
  width: 92%;
  align-items: center;
  margin-left: 3%;
}

.todayHeader {
  font-size: 33px;
  font-family: 'GongGothicMedium';
  margin-left: 50px;
  margin-top: 50px;
}

.todayCakes {
  padding-top: 30px;
  height: 380px;


}

.cakeItem {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardStore {
  width: 17%;
}
.cardStore-last{
  background-color: rgb(255, 255, 255);
  border: 1px rgb(196, 196, 196) solid;
}

.cardImg {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 10px;

}

.titleText {
  display: flex;
  font-family: 'BBTreeGB';
  padding: 4%;
  margin-bottom: 3%;
}

.cardTitle {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;

}


.cardStore section {
  font-family: 'BBTreeGB';
  font-size: 0.9rem;
  color: rgba(61, 61, 61, 0.767);
  padding: 0 2% 0 1% ;
  margin-left: 2%;
  line-height: 1.7rem;

}


/* .goDetail {
  background-color: rgba(190, 177, 230, 0.295);
  font-family: 'BBTreeGB';
  border-radius: 5px;
  border: solid rgba(44, 44, 44, 0.507) 1.3px;
  padding: 3px;
  font-size: 0.8rem;
  float: right;
  margin-right: 6%;
} */



.underCard{
  border: 1.5px rgb(170, 170, 170) solid;
  width: 85%;
  align-items: center;
  margin-left: 5%;
}

.cardStore a:link {
  text-decoration: none;
  color: black;
}

.cardStore a:visited {
  color: rgb(36, 17, 54);

}

.cardStore a:hover {
  color: rgb(128, 77, 98);
}




/*리뷰 내용 css*/

.review {
  height: 660px;
}


.underReview {
  border: 1.5px black solid;
  width: 90%;
  align-items: center;
  margin-left: 3%;
}

.reviewHeader {
  font-size: 33px;
  font-family: 'GongGothicMedium';
  margin-left: 50px;
  margin-top: 50px;
}

.fourReviews {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.reviewItem {
  width: 35%;
  background-color: #ffffff;
  height: 200px;
  margin-bottom: 40px;
  display: flex;
  border-radius: 5px;
  border: rgba(112, 128, 144, 0.185) 2px solid;
}




.reviewImage {
  width: 90%;
  height: 100%;
  border-radius: 5px;
}

.reviewText {
  padding: 14px 10px 10px 16px;
}

.reviewTitle {
  font-family: 'NotoSerifKR';
  font-size: 20px;
  border-bottom: solid 2px rgb(194, 198, 204);
}

.reviewDetail {
  font-family: 'BBTreeGB';
  font-size: 15px;
  line-height: 1.7rem;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  color: rgb(63, 63, 63);

}

.userId {
  font-family: 'BBTreeGB';
  font-size: 14px;
  font-weight: bold;
  color: rgb(110, 107, 133);
  margin-left: 2%;
}


.reviewTitle a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.reviewTitle a:visited {
  color: rgb(80, 106, 145);
}

.reviewTitle a:hover {
  color: rgb(38, 29, 48);
}


/*리뷰 내용 css 끝*/


/* 반응형 */
@media screen and (max-width:768px) {

  #body{
    height: auto;
  }

  .today{
    height: 900px;
  }

  .review{
    height: auto;
  }

  .cakeItem{
    display: flex;
    flex-wrap: wrap;
  }

  .cardStore{
    width: 35%;
  }
    
  .cardStore-last{
    margin-bottom: 10%;
  }
}

