
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



#login-img1 {
    background-image: url(../img/login.jpeg);
}

#login-img2 {
    background-image: url(../img/kakao.png);
}

#login-img3 {
    background-image: url(../img/login2.png);
}

.login-img-display {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.carousel-caption {
    color: rgb(0, 0, 0);
    bottom: 55px; /* caption 높이 수정 */
}

#color-black{
    color: white;
}

.carousel-caption h3{
    margin-bottom: 4%;
    font-family: 'NotoSerifKR';
    color: rgb(255, 247, 200);
    font-weight: bold;
}

.carousel-caption p{
    margin-top: 3%;
    font-family: 'BBTreeGB';
    font-size: 19px;
    color: rgb(255, 250, 219);

}
#carouselExampleCaptions{
    margin-top: 70px;
}

#second-car h5{
    margin-bottom: 4%;
    font-family: 'BBTreeGB';
    color: rgb(255, 255, 255);
    font-size: 24px;
}


#second-car {
    color: rgb(0, 0, 0);
    bottom: 50px; /* caption 높이 수정 */
}

.login-go-today{
    display:block;
    width:120px;
    height:50px;

    border:1px #c09d00 solid;
    border-radius: 0;
    margin:10px auto;

    background-color:#000000;
    text-align:center;
    cursor: pointer; /* FE: hover 되었을 때 마우스 모양 바뀜 */
    font-size: 15px;
    line-height: 15px;
    color:rgb(255, 255, 255);
    font-family: 'BBTreeGB';


    transition:all 0.9s, color 0.3s;

}

.login-go-today:hover{color:rgb(0, 0, 0);}

.go-today-hover:hover {
    box-shadow:120px 0  0 0 rgba(255, 247, 223, 0.815) inset;
}



#third-car{
    color: rgb(0, 0, 0);
    bottom: 55px; /* caption 높이 수정 */
}

#third-car h2{
    margin-bottom: 4%;
    font-family: 'BBTreeGB';
    color: rgb(255, 247, 200);
    text-shadow: rgba(211, 211, 211, 0.664) 1px 1px;
    font-weight: bold;
}

#third-car p{
    margin-top: 3%;
    font-family: 'BBTreeGB';
    font-size: 20px;
    color: rgb(255, 253, 241);
    font-weight: bold;
}

.login-box{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

/* email-box 부분 */


.email-box{
    width: 50%;
    background-color: rgb(226, 226, 226);
}

.email-box1{
    height: 20%;
    padding-top: 4%;
    /* background-color: rgb(63, 63, 63); */
    background-color: black;
    color: rgb(255, 255, 255);
}

.email-box1 p{
    font-family: 'GongGothicMedium';
    font-size: 20px;
    text-align: center;
}

.email-box a{
    border: 1px black solid;
    text-decoration: none;
    color: black;
    font-family: 'GongGothicMedium';
    padding:  1.5% 3%;
}

/* 해당 페이지에 있는 모든 버튼들 동시 적용  */
.login-button{
    display:block;
    width:120px;
    height:50px;

    border:1.3px #000000 solid;
    border-radius: 5px;
    margin:10px auto;

    background-color:#ffffff;
    text-align:center;
    cursor: pointer; /* FE: hover 되었을 때 마우스 모양 바뀜 */
    font-size: 15px;
    line-height: 15px;
    color:rgb(0, 0, 0);
    font-family: 'BBTreeGB';


    transition:all 0.9s, color 0.3s;

}

.login-button:hover{color:rgb(186, 184, 255);}

.hover:hover {
    box-shadow:120px 0 0 0 rgba(0, 0, 0, 0.568) inset,
                -120px 0 0 0 rgba(0, 0, 0, 0.568)  inset;

}
/* 여기까지 */


.email-box2-1{
    margin-bottom: 6%;
    margin-top: 9%;
}





/* 여기까지 */


.kakao-box{
    width: 50%;
    border-left: solid rgb(0, 0, 0) 2px;
    background-color: rgb(226, 226, 226);
}

.kakao-box1{
    height: 20%;
    padding-top: 4%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.kakao-box1 p{
    font-family: 'GongGothicMedium';
    font-size: 20px;
    text-align: center;
}

.kakao-box a{
    border: 1px black solid;
    text-decoration: none;
    color: black;
    font-family: 'GongGothicMedium';
    padding:  1.5% 3%;

}

.kakao-box2{
    padding-top: 10%;
}


.kakao-box2-1{
    margin-top: 17%;
}

.kakao-button{
    display:block;
    width:130px;
    height:50px;

    border:1.3px #000000 solid;
    border-radius: 5px;
    margin:10px auto;

    background-color:rgb(255, 255, 255);
    text-align:center;
    cursor: pointer; /* FE: hover 되었을 때 마우스 모양 바뀜 */
    font-size: 15px;
    line-height: 15px;
    color:rgb(0, 0, 0);
    font-family: 'BBTreeGB';


    transition:all 0.9s, color 0.3s;

}

.kakao-button:hover{color:rgb(255, 196, 0);}

.kakao-hover:hover {
    box-shadow:130px 0 0 0 rgba(0, 0, 0, 0.699) inset,
                -130px 0 0 0  rgba(0, 0, 0, 0.699)  inset;

}