/* 마이페이지 css*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 106px 1800px 150px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "body"
      "footer";
  }
  
  .footer { grid-area: footer; }
  
  .header { grid-area: header; }
  
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "user-info"
      "order-info";
    grid-area: body;
    padding-top: 80px;
  }
  
  .user-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "mypage"
      "mypage-detail";
    grid-area: user-info;
  }
  
  .mypage { grid-area: mypage; }
  
  .mypage-detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "user-info-detail"
      "user-reivew";
    grid-area: mypage-detail;
  }
  
  .user-info-detail { grid-area: user-info-detail; }
  
  .user-reivew { grid-area: user-reivew; }
  
  .order-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "order-info-title"
      "order-detail"
      "cart";
    grid-area: order-info;
  }
  
  .order-info-title { grid-area: order-info-title; }
  
  .order-detail { grid-area: order-detail; }
  
  .cart { grid-area: cart; }