@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



#order-main {
    margin-top: 70px;
}


.main-header {
    height: 250px;
    background-image: url('../img/order.jpeg');
    background-size: cover;
}

.order-main-buttons{
    text-align: right;
    margin-right: 2%;
}


.main-header a {
    text-decoration: none;
    color: black;
    font-family: 'BBTreeGB';

}

.main-header input {
    font-family: 'BBTreeGB';
    border: none;
    background-color: rgb(221, 204, 243);
}

.order-main-texts{
    margin-top: 4%;
}

.text1{
    text-align: center;
    font-family: 'GongGothicMedium';
    font-size: 33px;
}

.text2{
    text-align: center;
    font-family: 'GongGothicMedium';
    font-size: 18px;
    color: rgb(124, 124, 124);
    margin-top: 2.6%;
}

.post-form{
    width: 100%;
}


.cakeorder{
    display: block;
}
.calendar{
    margin-top: 4%;
    margin-left: 30%;
}

.order-form{
    margin-left: 24%;
    padding-right: 37%;
}

.order-fixed{
    border: 1.4px solid rgba(63, 63, 63, 0.705);

}

.coupon {
    display:none;
}