.review-body{
    padding-top: 80px;
    height: 1600px;
    margin-left: 20px;
}

h2{
    font-size: 40px;
    text-align: left;
}

#user-info-header {
    margin-bottom: 0%;
}


.review-info {
    display: flex;
}


.review-card {
    height: 420px;
    width: 20%;
    margin: 0px 0px;
    border: solid lightgray;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    margin-left: 50px;
}
.review-card > a > img{
    margin-top: 10px;
}

.review-card img {
    border-radius: 5px;
    width: 55%;
}
img {
    border-radius: 5px;
    width: 70%;
}
.user-review-text{
    display: flex;
    justify-content: right;
}