@font-face {
  font-family: 'NotoSerifKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 아래는 해당 페이지에서 제목 글씨체 */
@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 

/* 아래는 해당 페이지에서 내용 글씨체 */
@font-face {
  font-family: 'BBTreeGB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#mainBody{
  padding-top: 100px;
  background-color:rgba(2, 2, 2, 0.363);

}

.store-detail{
  padding-top: 48px;
  padding-left: 120px;
  display: flex;

}


.store-detail img{
  border-radius: 100%;
  border: rgba(0, 0, 0, 0.527) solid 2px;
}


.store-detail .store-text{
  padding-left: 60px;
  padding-top: 20px;
  line-height: 2rem;
  font-family: 'BBTreeGB';

}

.store-name{
  font-family: 'GongGothicMedium';
  font-size: 34px;
  margin-bottom: 20px;
}

.store-location, .store-des, .store-contact{
  font-family: 'BBTreeGB';
  font-weight: bold;
  font-size: 16px;
}

.store-des{
  margin-top: 15px;
  padding-right: 10%;
  color: rgb(77, 77, 77);
}

.option-box{
  margin-top: 70px;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin-left: 10%;
  align-items: center;
  border:black 1px solid;
  margin-bottom: 50px;
}

.contents{
  border: 1px black solid;
}

.buttons{
  height: 70px;
  display: flex;
  justify-content: space-between;
}


.buttons input{
  background-color:rgb(255, 255, 255);
  flex: 1; /*3등분*/
  font-family: 'BBTreeGB';
  font-size: 27px;
  border: 1px black solid;

}

.items-header{
  margin-left: 50px;
  font-family: 'GongGothicMedium';
  font-size: 21px;
  color: rgb(32, 40, 61);
  
}

.cake-item{
  margin: 5% 13% 5% 9%;
  height: 210px; /* 이거 변경 시 케익 이미지 사이즈 변경도 함께! */
  display: flex;
  border-radius: 5px;
  border: solid rgba(44, 44, 44, 0.548) 2px;
  background-color: rgba(230, 230, 230, 0.219);
}

.cake-img img{
  border-radius: 5px;
  border-right: solid rgba(44, 44, 44, 0.288) 2px;

}

.cake-body{
  width: 100%;
}


.cake-detail{
  font-family: 'BBTreeGB';
  font-size: 15px;
  margin-left: 4%;
  margin-right: 4%;
  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
  line-height: 1.6em;
  height: 4.8em; 
}

.cake-name-button{
  display: flex;
}
.cake-name {
  /* width: 60%; */
  margin-left: 5%;
  margin-top: 25px;

  font-family: 'GongGothicMedium';
  font-size: 20px;

  color:rgb(0, 0, 0);
}


.order-button{
  width: 75%;
  text-align: center;
  font-family: 'BBTreeGB';
  font-size: 15px;
  text-decoration: none;
  color: black;

  border-radius: 5px;
  border: 1px black solid;
  background-color: rgba(255, 255, 255, 0.363);

  padding: 3px;
  margin-left: 4.5%;
  margin-bottom: 0;
}


.order-button:hover{
  background-color: black;
  color: white;
}


.cake-detail-box{
  width: 80%;
  padding-left: 0;
}



/* 정보 버튼 클릭 시 화면 css */

.info-box1{
  margin: 50px 90px;
  padding: 30px;
  border-radius: 5px;
  border: solid rgba(44, 44, 44, 0.548) 2px;
  background-color: rgba(230, 230, 230, 0.219);
  margin-bottom: 90px;
}

.info-box1 p{
  font-family: 'BBTreeGB';
  font-size: 18px;
  font-weight: bold;
}


.info-box1 .store-main-info{
  font-family: 'BBTreeGB';
  font-size: 18px;
  font-weight: bold;

}


/* 리뷰 */

.post-form{
  margin-top: 2%;
  margin-left: 8%;
  width: 50px;
}

.post-form option{
  font-family: 'BBTreeGB';
}


.review-item{
  margin-bottom: 30px;
  margin: 4% 8%;
  padding: 2.5%; 
  background-color: rgba(230, 230, 230, 0.219);
  border-radius: 5px;
  border: solid rgba(44, 44, 44, 0.452) 2px;

}

.review-item1{
  height: 30%;}



.review-cake{
  font-family: 'GongGothicMedium';
  font-size: 21px;
  margin-bottom:2%;
  margin-right: 4%;
}
.review-item1-cake{
  display: flex;
  margin-bottom: 0;
}

.review-id, .review-date{
  font-family: 'GongGothicMedium';
  font-size: 17px;
  color: rgb(153, 153, 153);
}

.review-item1-user{
  display: flex;
}

.review-id{
  margin-right: 2%;
}




.review-item2{
  height: 60%;
  margin-top: 2%;
}

.review-item2-contents{
  line-height: 22px;
  font-family: 'BBTreeGB';
  font-size: 15px;

}

/* 반응형 웹을 위한 미디어 쿼리 */

@media screen and (max-width: 991px){
  .store-detail{
    padding-top: 48px;
    padding-left: 7%;
    display: flex;  
  }

  .store-detail img{
    width: 190px;
  }

  .cake-item{
    height: 190px; /* 이거 변경 시 케익 이미지 사이즈 변경도 함께! */
  }

  .cake-img img{
    width: 190px;
    height: 187px;
  }
  .store-detail .store-text{
    padding-left: 60px;
    padding-top: 20px;
    line-height: 2rem;
    font-family: 'BBTreeGB';
  
  }
  
  .store-name{
    font-size: 31px;

  }
  
  .store-location, .store-des, .store-contact{
    font-family: 'BBTreeGB';
    font-weight: bold;
    font-size: 14px;
  }
  
  .store-des{
    margin-top: 15px;
    padding-right: 14%;
    padding-left: 5%;
    color: rgb(77, 77, 77);
  }


  .cake-name-button{
    display: block;
  }

  .cake-name{
    width: 90%;
    margin-top: 20px;
  }


  .order-button{
    width: 50%;
    text-align: center;
    font-family: 'BBTreeGB';
    font-size: 15px;
    text-decoration: none;
    color: black;
  
    border-radius: 5px;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.363);
  
    padding: 2px;
    margin-top: 4%;
  
  }
  


  .cake-detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 3.6em;
    margin-top: 20px;
  }

  .buttons input{
    background-color:rgb(255, 255, 255);
    flex: 1; /*3등분*/
    font-family: 'BBTreeGB';
    font-size: 24px;
    border: 1px black solid;
  
  }

  /*리뷰 부분*/
  .review-item2-contents{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.4em;
    height: 4.2em;
    /* margin-top: 20px; */
  }

}

@media screen and (max-width: 768px){
  .store-detail{
    padding-top: 48px;
    padding-left: 7%;
    display: flex;  
  }

  .store-detail img{
    width: 180px;
    height: 180px;
  }

  .cake-item{
    height: 170px; /* 이거 변경 시 케익 이미지 사이즈 변경도 함께! */
  }

  .cake-img img{
    width: 150px;
    height: 167px;
  }
  .store-detail .store-text{
    padding-left: 60px;
    padding-top: 20px;
    line-height: 2rem;
    font-family: 'BBTreeGB';
  
  }
  
  .store-name{
    font-size: 29px;
  }
  
  .store-location, .store-des, .store-contact{
    font-family: 'BBTreeGB';
    font-weight: bold;
    font-size: 14px;
  }
  
  .store-des{
    margin-top: 15px;
    padding-right: 14%;
    padding-left: 0;
    color: rgb(77, 77, 77);
    line-height: 1.5rem;
  }


  .cake-name-button{
    display: block;
  }

  .cake-name{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 6px;
  }

  #detail-buttons{
    width: 90%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .order-button{
    width: 50%;
    text-align: center;
    font-family: 'BBTreeGB';
    font-size: 15px;
    text-decoration: none;
    color: black;
  
    border-radius: 5px;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.363);
  
    padding: 2px;
    margin-top: 4%;
  
  }
  
  

  .cake-detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 2.4em;
  }

  .buttons input{
    background-color:rgb(255, 255, 255);
    flex: 1; /*3등분*/
    font-family: 'BBTreeGB';
    font-size: 22px;
    border: 1px black solid;
  
  }

  .info-box1{
    margin: 7% 10%;
    padding: 4%;
    border-radius: 5px;
    border: solid rgba(44, 44, 44, 0.288) 2px;
    background-color: rgba(174, 177, 211, 0.219);
    margin-bottom: 90px;
  }



  .info-box1 p{
    font-family: 'BBTreeGB';
    font-size: 16px;
    font-weight: bold;
  }
  
  
  .info-box1 .store-main-info{
    font-family: 'BBTreeGB';
    font-size: 16px;
    font-weight: bold;
  
  }

  .review-cake{
    font-size: 19px;
  }

  .review-id, .review-date{
    font-size: 13px;
  }

  .review-item2-contents{
    font-size: 13px;
  }
  

  /* 아래는 화면 크기가 small 일때 -> 576픽셀보다 작을 때 */
  /* 현재는 455픽셀까지만 깨지지 않고 지원 */

  @media screen  and (max-width: 577px){

    .items-header{
      font-size: 19px;
    }
    .store-detail{
      padding-top: 48px;
      padding-left: 7%;
      display: flex;  
    }
  
    .store-detail img{
      width: 180px;
      height: 180px;
    }
  
    .cake-item{
      height: 130px; /* 이거 변경 시 케익 이미지 사이즈 변경도 함께! */
    }
  
    .cake-img img{
      width: 120px;
      height: 127px;
    }
    .store-detail .store-text{
      padding-left: 60px;
      padding-top: 20px;
      line-height: 2rem;
      font-family: 'BBTreeGB';
    
    }
    
    .store-name{
      font-size: 29px;
    }
    
    .store-location, .store-des, .store-contact{
      font-family: 'BBTreeGB';
      font-weight: bold;
      font-size: 14px;
    }
    
    .store-des{
      margin-top: 15px;
      padding-right: 14%;
      padding-left: 0;
      color: rgb(77, 77, 77);
      line-height: 1.5rem;
    }
  
  
    .cake-name-button{
      display: block;
    }
  
    .cake-name{
      width: 90%;
      margin-top: 10px;      
      font-size: 15px;
    }

    .cake-body hr{ 
      width: 80%;
      margin-left: 5%;
      margin-top:0;    
      margin-bottom:7px;    
    }
    
  
    #detail-buttons{
      width: 90%;
      display: block;
      margin-left: 10%;
      margin-right: 10%;
    }
    
    .order-button{
      width: 40%;
      text-align: center;
      font-family: 'BBTreeGB';
      font-size: 12px;
      text-decoration: none;
      color: black;
    
      border-radius: 5px;
      border: 1px black solid;
      background-color: rgba(255, 255, 255, 0.363);
    
      padding: 3px;
      margin-bottom: 0;    
    }

  
    .cake-detail {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 1.4em;
      height: 2.5em;
      font-size: 13.5px;
      margin-top: 0;
    }
  
    .buttons input{
      background-color:rgb(255, 255, 255);
      flex: 1; /*3등분*/
      font-family: 'BBTreeGB';
      font-size: 22px;
      border: 1px black solid;
    
    }

}
}