@font-face {
  font-family: 'NotoSerifKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 아래는 해당 페이지에서 제목 글씨체 */
@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 

/* 아래는 해당 페이지에서 내용 글씨체 */
@font-face {
  font-family: 'BBTreeGB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#mainBody{
  padding-top: 100px;
  background-color:rgba(180, 191, 219, 0.363);

}

.store-detail{
  padding-top: 48px;
  padding-left: 120px;
  display: flex;

}


.store-detail img{
  border-radius: 100%;
  border: rgba(0, 0, 0, 0.527) solid 2px;
}


.store-detail .store-text{
  padding-left: 60px;
  padding-top: 20px;
  line-height: 2rem;
  font-family: 'BBTreeGB';

}

.store-name{
  font-family: 'GongGothicMedium';
  font-size: 34px;
  margin-bottom: 20px;
}

.store-location, .store-des, .store-contact{
  font-family: 'BBTreeGB';
  font-weight: bold;
  font-size: 16px;
}

.store-des{
  margin-top: 15px;
  color: rgb(77, 77, 77);
}

.option-box{
  margin-top: 70px;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin-left: 10%;
  align-items: center;
  border:black 1px solid;
  margin-bottom: 50px;
}

.contents{
  border: 1px black solid;
}

.buttons{
  height: 70px;
  display: flex;
  justify-content: space-between;
}


.buttons input{
  background-color:rgb(255, 255, 255);
  flex: 1; /*3등분*/
  font-family: 'BBTreeGB';
  font-size: 27px;
  border: 1px black solid;

}

.items-header{
  margin-left: 50px;
  font-family: 'GongGothicMedium';
  font-size: 24px;
  color: rgb(32, 40, 61);
  
}

.cake-item{
  margin: 80px 120px;
  height: 240px; /* 이거 변경 시 케익 이미지 사이즈 변경도 함께! */
  display: flex;
  border: solid rgba(44, 44, 44, 0.288) 2px;
  border-radius: 5px;
  background-color: rgba(174, 177, 211, 0.219);
}

.cake-img img{
  border-radius: 5px;
  border-right: solid rgba(44, 44, 44, 0.288) 2px;
}
.cake-name {
  margin-left: 40px;
  font-family: 'GongGothicMedium';
  font-size: 22px;
  margin-top: 25px;
  color:rgb(56, 0, 134);
}

.cake-detail{
  margin-left: 40px;
  font-family: 'BBTreeGB';
  font-size: 18px;
  margin-top: 30px;
}

.cake-body{
  display: block;
}

.cake-body a{
  margin-left: 40px;
  font-family: 'BBTreeGB';
  font-size: 15px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  background-color: rgba(180, 191, 219, 0.363);
  border: 1px black solid;
  padding: 3px 5px;
  margin-bottom: 5%;
}

.cake-body a:hover{
  color:rgba(105, 57, 133, 0.651);
}

.cake-body hr{
  width: 600px;
  height: 2px;
  color:rgb(32, 40, 61);
  margin-left: 30px;
}

/* 정보 버튼 클릭 시 화면 css */

.info-box1{
  margin: 50px 90px;
  padding: 30px;
  border-radius: 5px;
  border: solid rgba(44, 44, 44, 0.288) 2px;
  background-color: rgba(174, 177, 211, 0.219);
  margin-bottom: 90px;
}

.info-box1 .store-address{
  font-family: 'BBTreeGB';
  font-size: 18px;
  font-weight: bold;
}

.info-box1 .store-bhour{
  font-family: 'BBTreeGB';
  font-size: 18px;
  font-weight: bold;

}

.info-box1 .store-contact{
  font-family: 'BBTreeGB';
  font-size: 18px;
  font-weight: bold;

}

.info-box1 .store-main-info{
  font-family: 'BBTreeGB';
  font-size: 18px;
  font-weight: bold;

}


/* 리뷰 */
.store-review{
  margin: 50px 90px;
  padding: 30px; 
  background-color: rgba(174, 177, 211, 0.219);
  border-radius: 5px;
  border: solid rgba(44, 44, 44, 0.288) 2px;

}

.store-review p{

  font-family: 'BBTreeGB';

}