@import "font.css";
@import "bootstrap.css";
@import "button.css";
@import "home.css";
@import "base.css";
@import "storeDetail.css";
@import "mypage.css";
@import "searchResult.css";


/*kdy : 앞으로 각 페이지마다 css 입히는 것이 달라질 가능성이 높아서
css를 페이지별로 나눠서 보면 좋을듯해서 파일을 분배함*/
