{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <script type="text/javascript" src="/static/js/userLocation.js"></script>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=46d5f6c310a78632612936d0ea60df74&libraries=services"></script>
    <!--헤더 flexbox 자리.
    kdy : home.html에 있던 홈 화면 아이콘, 마이페이지, 로그인 고정 헤더를 base로 옮김-->

    <div class="fixed">
        <div>
            <!-- 1)홈 화면 아이콘 -->
            <a href="{% url 'home' %}">
                <h1>ALLCAKES🍰</h1>
            </a>
        </div>
        <!--kdy : 접속한 사용자의 현재 위치를 반환-->
        <div id="location_input">
              <span></span>
         </div>
        <!--2) authenticated 되지 않았으면 로그인/회원가입-->
        <div>
            {% if not user.is_authenticated %}
            <a class="nav-link" href="{%url 'login' %}" style="margin-left: 900px;">Join/Log in</a>
            {% endif %}
        </div>
            <!--4) authenticated 되었으면 마이페이지-->
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'mypage' %}">마이페이지</a>
            </div>
            {% endif %}

        <!--3) authenticated 되었으면 로그아웃-->
        <div>
            {% if user.is_authenticated %}

            <a href="{% url 'logout' %}" style="margin-left: 900px;">Log out</a>
            </li>
            {% endif %}
        </div>

        <ul>



            <!--kdy : 아마도 검색창 들어가야 되는 자리-->
            <div>

            </div>


            <!---->
    </div>

    {% block style %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>
<footer>
    <hr>
    made by, allcakes
</footer>
</html>