{% load static %}

<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <!--부트스트랩 불러온 것-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- query-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!--부트스트랩-->
    <!--여기까지-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/cake.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
</head>

<body>


    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white; padding-top: none; padding-bottom: 2px;" height="60px" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-size: 20px; margin-bottom: 15px; margin-left: 13px; margin-right: 7px;">ALLCAKES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">     

                        <li class="nav-item ">
                            <a class="nav-link px-2" href="{% url 'search_all' %}" style="color:rgba(0,0,0,.5);font-size: 17px; margin-left: 8px; margin-bottom: 10px; padding-top: 3px;">Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--로그인 or 로그아웃-->

                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            {% if user.is_kakao == True %}
                            <!-- 인증된 상태에서 카카오인 경우, 아닌 경우-->
                            <a class="nav-link px-2" href="{% url 'logout_with_kakao' %}" style="color:rgba(0,0,0,.5);font-size: 17px; padding-top: 4px;">Logout</a>
                            {% else %}
                            <a class="nav-link px-2" href="{% url 'logout' %}" style="color:rgba(0,0,0,.5);font-size: 17px; padding-top: 4px; margin-bottom: 7px;">Logout</a>
                            {% endif %}

                            {% else %}
                            <!-- 인증되지 않은 상태면 로그인(가입) 링크 -->
                            <a class="nav-link px-2" href="{% url 'login_home' %}" style="color:rgba(0,0,0,.5);font-size: 17px; padding-top: 4px;">Login</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">

                            {% if user.is_authenticated %}
                            <a class="nav-link px-2" href="{% url 'mypage' user_pk=user.pk %}" style="color:rgba(0,0,0,.5);font-size: 17px; padding-top: 4px; margin-bottom: 10px;">My Page</a>
                            {% endif %}

                            {% if not user.is_authenticated %}
                            <a class="nav-link px-2" href="#">About Us</a>
                            {% endif %}
                        </li>

                </div>
            </div>
        </nav>
    </header>
    <br><br><br><br>
    <h1 class = "cake_title" style="font-weight: bold;"> 케이크 수정 </h1>
    <form method="POST" class="post-form" style = "width: 100%;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br><br>
        <div style="margin-top: 5%;">
            <h2 style="font-weight: bold; margin-bottom: 3%;">색 선택</h2>
            <ul class="색" style="border: rgba(0, 0, 0, 0.747) 2px solid;  margin-bottom: 8%; ">
            {% for c in color %}
                <div id="caketype">
                    <input type="checkbox" name="color" class="menuclick colorCheck{{c.pk}}" data-key="color_{{c.name}}" value="{{c.pk}}">
                    <img src="{% get_static_prefix %}{{c.img}}" style="height : 100px">{{c.name}}<br>
                    가격입력 : <input name="colprice" class="color_{{c.name}} colorInput{{c.pk}}" type="text" disabled style="width: 120px;">
                </div>
            {% endfor %}
        </ul>

            <h2 style="font-weight: bold; margin-bottom: 3%;">크림종류 선택</h2>
            <ul class="크림종류" style="border: rgba(0, 0, 0, 0.747) 2px solid;  margin-bottom: 8%; ">
            {% for c in cream %}
                <div id="caketype">
                    <input type="checkbox" name="cream" class="menuclick creamCheck{{c.pk}}" data-key="cream_{{c.name}}" value="{{c.pk}}">
                    <img src="{% get_static_prefix %}{{c.img}}" style="height : 100px">{{c.name}}<br>
                    가격입력 : <input name="crmprice" class="cream_{{c.name}} creamInput{{c.pk}}" type="text"  disabled style="width: 120px;">
                </div>
            {% endfor %}
            </ul>
        </div>
        <br><br><br>
        <button type="submit">저장</button>
    </form>
    <footer>
        <div class="footerContent1">
            <div class="about">
                <p class="aboutTitle">About</p>
                <hr class="underline">

                <p class="aboutContent">이 어둠을 빨간 코로 비춰줄래
                    어디서부터 잘못된 건지
                    온 세상이 all black black black
                    지금 너와 난
                    다 깨져버린 1000피스
                    lego block block block
                    차라리 더 어두워지면 좋겠어
                    이 세상에 스위치가 있다면
                    꺼버릴거야
                    그리고 널 향한 노랠 부르겠어</p>

            </div>

            <div class="categories">
                <p class="categoryTitle">Categories</p>
                <hr class="underline">

                <li>
                    <a href="#" target="_blank">
                        <ul>HOME</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul>ABOUT US</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul>CONTACT</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul>JOIN</ul>
                    </a>

                </li>
            </div>

            <div class="links">
                <p class="linkTitle">Links</p>
                <hr class="underline">

                <li>
                    <a href="#" target="_blank">
                        <ul>CONTRIBUTE</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul a href="#">ABOUT US</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul a href="#">CONTACT</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul a href="#">PRIVACY POLICY</ul>
                    </a>
                </li>
            </div>
        </div>
        <hr class="underline2">


        <div class="footerContent2">
            <p>Copyright &copy; by ALLCAKES All Right Reserved </p>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <script>
        // 현재 위치를 가져오는 getPosition 프로미스 생성
        var getPosition = function (options) {
            return new Promise(function (resolve, reject) {
                var options = {
                    enableHighAccuracy: true,
                    maximumAge: 0,
                    timeout: 10000
                }
                navigator.geolocation.getCurrentPosition(resolve, reject, options);
            })
        }
        // getPosition 프로미스 실행
        // 결과값이 있을 경우 쿠키에 정보를 저장하고, 없을 경우 Error를 Log에 찍는다
        getPosition()
            .then((position) => {
                $.cookie("latitude", position.coords.latitude, { path: '/' })
                $.cookie("longitude", position.coords.longitude, { path: '/' })
            })
            .catch((err) => {
                console.log(err)
            })
    </script>
    {{ havecolor | json_script:"havecolor"}}   
    <script id = "havecolor" type="application/json"></script>
    {{ havecream | json_script:"havecream"}}   
    <script id = "havecream" type="application/json"></script>
    <script>
        // 이미 cake 메뉴에 추가되었던 것들 표시
        const color_list = JSON.parse(document.getElementById("havecolor").textContent);
        const cream_list = JSON.parse(document.getElementById("havecream").textContent);
        console.log(color_list)
        console.log(cream_list)
        // color 부분
        var c_key = Object.keys(color_list)
        for (var i = 0; i < c_key.length; i++){
            const t1 = document.querySelector(`.colorCheck${c_key[i]}`)
            const t2 = document.querySelector(`.colorInput${c_key[i]}`)
            t2.setAttribute("value",color_list[c_key[i]])
            t2.removeAttribute("disabled")
            t1.setAttribute("checked", true)
        }
        // cream 부분
        c_key = Object.keys(cream_list)
        console.log(c_key)
        for (var i = 0; i < c_key.length; i++){
            const t1 = document.querySelector(`.creamCheck${c_key[i]}`)
            const t2 = document.querySelector(`.creamInput${c_key[i]}`)
            t2.setAttribute("value",cream_list[c_key[i]])
            t2.removeAttribute("disabled")
            t1.setAttribute("checked", true)
        }

        // 체크박스 추가시 js
        const click_list = document.querySelectorAll('.menuclick')
        console.log(click_list)
        for (var i = 0; i < click_list.length; i++){
            click_list[i].addEventListener('click', event => { onMenuClick(event)});
        }
        function onMenuClick(event) {
            console.log("클릭")
            const dataset = event.target.dataset;
            const k = dataset.key;
            const h = document.querySelector(`.${k}`)
            if (h.hasAttribute("disabled")) {
                h.removeAttribute("disabled");
            } else {
                h.setAttribute("disabled", true);
            }
        }
    </script>
</body>

</html>