{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/storeDetail.css' %}" type="text/css">
    <script type="text/javascript" src="/static/js/marketLocation.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <title>Cake Store Detail</title>
</head>


<body id="mainBody">
    <!-- 대표이미지, 가게이름, 위치, 연락처, 설명, 케잌이미지 -->


    <div class="store-detail">
        <img src="{{post.store_image.url}}" width="210" , height="210">
        <div class="store-text">
            <p class="store-name">{{post.name}}</p>
            <b class="store-location">📍 위치 : {{post.location}} </b><br>
            <span class="store-contact">📍 연락처 : {{post.contact}}</span>
            <section class="store-des">[ {{post.text}} ]</section>
        </div>


        <!-- {% if post.pub_date %}
            {{post.pub_date}}
            {% endif %}        FE: 게시일자는 일단 주석처리-->
    </div>



    <!-- 이하 수정 및 삭제는 작성한 유저만이 수정 및 삭제할 수 있도록 수정할 예정 -->
    <!--<a href="{% url 'edit' pk=post.pk %}">정보 수정</a>
    <a href="{% url 'delete' pk=post.pk %}">삭제</a>
    <br><br><br><br>-->




    <div class="option-box">
        <div class="buttons">
            <input type="button" onclick="열기(0)" value="메 뉴"></input>
            <!--FE: button을 input으로 변경함!-->
            <input type="button" onclick="열기(1)" value="정 보"></input>
            <input type="button" onclick="열기(2)" value="리 뷰"></input>
        </div>

        <!-- 전체 케이크 리스트 -->
        <div class="items">
            <!--버튼 누르면 나오는 설명까지 하나의 div에 묶기-->
            <br><br>
            <p class="items-header">📍 "{{post.name}}"의 모든 케이크</p>
            <hr class="underToday">

            {% for cake in cakelist %}
            
            <div class="cake-item">
                {% for image in cake.cakeimage_set.all %}
                <div class="cake-img">
                    <img src="{{image.cake_image.url}}" width="240px" height="237px"><br>
                    <!--FE : 사진 수정은 일단 주석!-->
                    <!--<a href="{% url 'image_edit' pk=cake.pk  %}">사진 수정</a><br>-->
                    
                </div>
                

                {% endfor %}
                <div class="cake-body">
                    <p class="cake-name">{{cake.cakename}}</p>
                    <hr>
                    <p class="cake-detail">{{cake.body}}</p>
                    <a href="{% url 'order' pk=cake.pk  %}">해당 케이크 주문</a>
                    <!--FE: 케이크 자세히 보기 버튼도 있으면 좋을 듯-->
                </div>
                </a><br>

            </div>


                {% endfor %}
            


            
        <!-- FE: 주석처리함
        <a href="{% url 'newcake' pk=post.pk %}">
                        <h3>새 케이크 등록</h3>
                    </a>
            -->
            
        </div>


<!--두 번째 버튼, 정보 누르면 나오는 화면-->

        <div class="items">
            
            <div class="info-box1">
                <p class="store-address"> ▶️ 주소 : 주소(상세주소) 받아와야 함</p>
                <p class="store-bhour"> ▶️ 영업 시간 : 영업 시간 받아와야 함</p>
                <p class="store-contact"> ▶️ 연락처 : {{post.contact}}</p>
            </div>

            <p class="items-header">📍 공지사항</p>
            <hr class="underToday">
            <div class="info-box1">
                <p class="store-main-info"> ▶️ 공지사항 받을 수 있다면 받아오기! </p>
            </div>

            <!--FE: 지도 생각보다 많이 깨져서 한 번 봐야할 듯!-->

            <p class="items-header">📍 지도</p>
            <hr class="underToday">
            <div class="info-box1">
                
                <p class="mapsize">
                    <div id="map" style="width:100%;height:350px;"></div>
                </p>

                <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=72346395b1c307cc36bb8337abc1d059"></script>
                <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = {
                            center: new kakao.maps.LatLng(37.5573264, 126.9474058), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };

                    var map = new kakao.maps.Map(mapContainer, mapOption);

                    // 마커가 표시될 위치입니다 
                    var markerPosition = new kakao.maps.LatLng(37.5573264, 126.9474058);

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    marker.setMap(map);

                    var iwContent =
                        '<div style="padding:5px;">뽀들렌 케이크<br><a href="https://map.kakao.com/link/map/뽀들렌케이크,37.5573264,126.9474058"  target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,37.5573264,126.9474058" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                        iwPosition = new kakao.maps.LatLng(37.5573264, 126.9474058); //인포윈도우 표시 위치입니다

                    // 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        position: iwPosition,
                        content: iwContent
                    });

                    // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
                    infowindow.open(map, marker);
                </script>
            </div>

        </div>






        <!-- 리뷰  -->
        <!-- FE: 나중에는 리뷰 쓴 사람 아이디도 받아올 수 있게!  -->
        <!-- FE: 별점 높은 순 / 낮은 순 적용!  -->
        <div class="items">
            
            {% for review in reviewlist %}         
            <div class="store-review">
                <p>(케이크 종류!!) {{review.body}}</p>
                <p>{{review.grade}}</p>
            </div>


            {% endfor %}
        </div>








        <script>
            function 열기(num) {
                document.getElementsByClassName('items')[num].style.display = 'block';
                document.getElementsByClassName('items')[(num + 1) % 3].style.display = 'none';
                document.getElementsByClassName('items')[(num + 2) % 3].style.display = 'none';
            }
        </script>


    </div>

   <!-- 리뷰 관련 페이지 -->
   <div class ="items">
    <br><br>
    <h3>리뷰</h3>
    {% for review in reviewlist %}
        id : {{review.user.username}}<br>
        리뷰일시 : {{review.pub_date}}<br>
        가게 이름 : {{review.referred_store.name}}<br>
        주문 케이크 : {{review.referred_cake.cakename}}<br>
        리뷰 내용 : {{review.comment}}<br>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 1 %} checked {% endif %}"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 2 %} checked {% endif %}"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 3 %} checked {% endif %}"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 4 %} checked {% endif %}"></span>
        <br><br>
    {% endfor %}
    <br><br>
</div>


    <footer>
        <div class="footerContent1">
            <div class="about">
                <p class="aboutTitle">About</p>
                <hr class="underline">

                <p class="aboutContent">이 어둠을 빨간 코로 비춰줄래
                    어디서부터 잘못된 건지
                    온 세상이 all black black black
                    지금 너와 난
                    다 깨져버린 1000피스
                    lego block block block
                    차라리 더 어두워지면 좋겠어
                    이 세상에 스위치가 있다면
                    꺼버릴거야
                    그리고 널 향한 노랠 부르겠어</p>

            </div>

            <div class="categories">
                <p class="categoryTitle">Categories</p>
                <hr class="underline">

                <li>
                    <a href="#" target="_blank">
                        <ul>HOME</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul>ABOUT US</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul>CONTACT</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul>JOIN</ul>
                    </a>

                </li>
            </div>

            <div class="links">
                <p class="linkTitle">Links</p>
                <hr class="underline">

                <li>
                    <a href="#" target="_blank">
                        <ul>CONTRIBUTE</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul a href="#">ABOUT US</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul a href="#">CONTACT</ul>
                    </a>
                    <a href="#" target="_blank">
                        <ul a href="#">PRIVACY POLICY</ul>
                    </a>
                </li>
            </div>
        </div>
        <hr class="underline2">


        <div class="footerContent2">
            <p>Copyright &copy; by ALLCAKES All Right Reserved </p>
        </div>
    </footer>
</body>

</html>
{% endblock %}