{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script type="text/javascript" src="/static/js/marketLocation.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <title>Cake Store Detail</title>
</head>
<body>
    <h1>케이크집 상세</h1>
    <!-- 대표이미지, 가게이름, 위치, 연락처, 설명, 케잌이미지 -->
    <div class="store-detail">
        <img src="{{post.store_image.url}}" width="300", height="200">
        <h1>{{post.name}}</h1>
        <b>{{post.location}}</b>
        <span>{{post.contact}}</span>
        <section>{{post.text}}</section>
        
        <!-- {% if post.pub_date %}
            {{post.pub_date}}
        {% endif %}        게시일자는 일단 주석처리-->
    </div>
    <!-- 이하 수정 및 삭제는 작성한 유저만이 수정 및 삭제할 수 있도록 수정할 예정 -->
    <a href="{% url 'edit' pk=post.pk %}">정보 수정</a>
    <a href="{% url 'delete' pk=post.pk %}">삭제</a>
    <br><br><br><br>
    <div class ="box">
        <button onclick= "열기(0)" style="font-size: 30px;">메뉴</button>
        <button onclick= "열기(1)" style="font-size: 30px;">정보</button>
        <button onclick= "열기(2)" style="font-size: 30px;">리뷰</button>
    </div>
    <!-- 전체 케이크 리스트 -->
    <div class ="items">
        <br><br>
        <h3>케이크 리스트</h3>
        {% for cake in cakelist %}
            {{cake.cakename}}<br>
            {{cake.body}}<br>
            {% for image in cake.cakeimage_set.all %}
                <img src="{{image.cake_image.url}}" width="150" height="150"><br>
                <a href="{% url 'image_edit' pk=cake.pk  %}">사진 수정</a><br>
                <a href="{% url 'order' pk=cake.pk  %}">해당 케이크 주문</a><br>
                <br>
            {% endfor %}
        {% endfor %}
        <br><br>
        <a href = "{% url 'newcake' pk=post.pk %}"><h3>새 케이크 등록</h3></a>  
    </div>
    <!-- 케이크 상세 설명 - (추후 페이지를 따로 만들어야할 것같음..) -->
    <div class ="items">
        <br><br>
        <h3>케이크 상세 정보 - 페이지 설정</h3>
        <!--지도-->
        <body>
            <p class="mapsize">
            <div id="map" style="width:100%;height:350px;"></div>
            </p>

            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=72346395b1c307cc36bb8337abc1d059"></script>
            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng(37.5573264,126.9474058), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };
            
            var map = new kakao.maps.Map(mapContainer, mapOption);
            
            // 마커가 표시될 위치입니다 
            var markerPosition  = new kakao.maps.LatLng(37.5573264,126.9474058); 
            
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });
            
            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
            
            var iwContent = '<div style="padding:5px;">뽀들렌 케이크<br><a href="https://map.kakao.com/link/map/뽀들렌케이크,37.5573264,126.9474058" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,37.5573264,126.9474058" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwPosition = new kakao.maps.LatLng(37.5573264,126.9474058); //인포윈도우 표시 위치입니다
            
            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                position : iwPosition, 
                content : iwContent 
            });

            // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
            infowindow.open(map, marker); 
            </script>
            </body>

    </div>
   <!-- 리뷰 관련 페이지 -->
   <div class ="items">
    <br><br>
    <h3>리뷰</h3>
    {% for review in reviewlist %}
        id : {{review.user.username}}<br>
        리뷰일시 : {{review.pub_date}}<br>
        가게 이름 : {{review.referred_store.name}}<br>
        주문 케이크 : {{review.referred_cake.cakename}}<br>
        리뷰 내용 : {{review.comment}}<br>
        <span class="fa fa-star fa-2x checked"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 1 %} checked {% endif %}"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 2 %} checked {% endif %}"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 3 %} checked {% endif %}"></span>
        <span class="fa fa-star fa-2x {% if review.rate > 4 %} checked {% endif %}"></span>
        <br><br>
    {% endfor %}
    <br><br>
</div>

    <script>
        function 열기(num){
            document.getElementsByClassName('items')[num].style.display = 'block';
            document.getElementsByClassName('items')[(num+1)%3].style.display = 'none';
            document.getElementsByClassName('items')[(num+2)%3].style.display = 'none';
        }
    </script>
</body>
</html>
{% endblock %}