{% extends 'base.html' %}
{% load static %}
<!--settings 하단에 STATIC_ROOT = os.path.join(BASE_DIR, 'static') 넣고 그 위 코드 주석 처리함 (충돌)-->
{% block title %}Allcakes{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 
    
{% endblock %}
{% block content %}
<div id="body">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div id="home-img1" class="carousel-item home-img-display active">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div id="home-img2" class="carousel-item home-img-display">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div id="home-img3" class="carousel-item home-img-display">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--캐러셀 부트스트랩 끝-->

    <!--오늘의 케이크 div-->
    <div class="today">
        <p class="todayHeader">오늘의 가게</p>
        <hr class="underToday">

        <div class="todayCakes">
            <article class="cakeItem">
                {% for store in stores %}
                    <div class="cardStore">
                        <a href="{% url 'store_detail' pk=store.pk %}" class="goDetail"><img src="{{store.store_image.url}}" class="cardImg" alt=""></a>

                        <div class="cardStore-last">
                            <div class="titleText">
                                <p class="cardTitle">📍 {{store.name}}</p>
                            </div>
                            <section>{{store.text|slice:"25"}}...</section>

                            <!-- <hr class="underCard"> -->

                        </div>

                    </div>
                {% endfor %}
            </article>
        </div>
    

    </div>


    <!--최신 리뷰 부분-->
    <div class="review">

        <p class="reviewHeader">최신 리뷰</p>
        <hr class="underReview">

        
        <div class="fourReviews">
            {% for r in reviews%}
            <article class="reviewItem">
                <div class="reviewImage">
                    <img src={{r.order.referred_cake.cake_image.url}}>
                </div>
                <div class="reviewText">
                    <p class="reviewTitle"><a href="#" class="review-title1">{{r.order.referred_cake }}</a><a href="#" class="review-title2"> [{{r.order.referred_store}}]</a></p>
                    <a>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star {% if r.rate > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if r.rate > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if r.rate > 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if r.rate > 4 %} checked {% endif %}"></span>
                    </a>
                    <p class="reviewDetail">{{r.comment}}</p> <!--공백포함 90자 정도-->
                    <p class="userId">➤ User: {{r.order.user}}</p>
                    
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
    <!--최신 리뷰 부분 끝-->

    <!--footer 부분-->
    

</div>
{% endblock %}