{% load static %}

<style>
    .cakeorder {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Order Service">
    <title>케이크 주문</title>


    <!--부트스트랩 (order는 상단바 메뉴들이 달라져야 할 것 같아서 )-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <body id="mainBody" onload="열기1('0')">
    </head>
        <div class="option-box">
            <div class="locationButton">
                <input type="button" class="btn btn-outline-primary" onclick="열기1(0)" value="서 울"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(1)" value="경 기"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(2)" value="인 천"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(3)" value="강 원"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(4)" value="대 전"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(5)" value="세 종"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(6)" value="충 남"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(7)" value="충 북"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(8)" value="부 산"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(9)" value="울 산"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(10)" value="경 남"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(11)" value="경 북"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(12)" value="대 구"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(13)" value="광 주"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(14)" value="전 남"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(15)" value="전 북"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(16)" value="제 주"></input>
                <input type="button" class="btn btn-outline-primary" onclick="열기1(17)" value="전 국"></input>
    
            </div>
    <!---------------------------------------------------------------->
            <div class="items1" id="Seoul">
                <fieldset>
                    <form action="{% url 'search_location2' %}" method="post">
                        {% csrf_token %}
    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul26" value="서울">
                        <label for="seoul26"><p>서울 전체</p></label>
                    </input>
                    </div>
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul1" value="강남구">
                        <label for="seoul1"><p>강남구</p></label>
                    </input>
                    </div>
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul2" value="강동구">
                        <label for="seoul2"><p>강동구</p></label>
                    </input>
                    </div>
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul3" value="강북구">
                        <label for="seoul3"><p>강북구</p></label>
                    </input>
                    </div>
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul4" value="강서구">
                        <label for="seoul4"><p>강서구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul5" value="관악구">
                        <label for="seoul5"><p>관악구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul6" value="광진구">
                        <label for="seoul6"><p>광진구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul7" value="구로구">
                        <label for="seoul7"><p>구로구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul8" value="금천구">
                        <label for="seoul8"><p>금천구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul9" value="노원구">
                        <label for="seoul9"><p>노원구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul10" value="도봉구">
                        <label for="seoul10"><p>도봉구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul11" value="동대문구">
                        <label for="seoul11"><p>동대문구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul12" value="동작구">
                        <label for="seoul12"><p>동작구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul13" value="마포구">
                        <label for="seoul13"><p>마포구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul14" value="서대문구">
                        <label for="seoul14"><p>서대문구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul15" value="서초구">
                        <label for="seoul15"><p>서초구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul16" value="성동구">
                        <label for="seoul6"><p>성동구</p></label>
                    </input>
                    </div>
                     
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul17" value="성북구">
                        <label for="seoul17"><p>성북구</p></label>
                    </input>
                    </div>
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul18" value="송파구">
                        <label for="seoul18"><p>송파구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul19" value="양천구">
                        <label for="seoul19"><p>양천구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul20" value="영등포구">
                        <label for="seoul20"><p>영등포구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul21" value="용산구">
                        <label for="seoul21"><p>용산구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul22" value="은평구">
                        <label for="seoul22"><p>은평구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul23" value="종로구">
                        <label for="seoul23"><p>종로구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul24" value="중구">
                        <label for="seoul24"><p>중구</p></label>
                    </input>
                    </div>
                    
                    
                    <div>
                        <input type="checkbox" name="locations[]" id="seoul25" value="중랑구">
                        <label for="seoul25"><p>중랑구</p></label>
                    </input>
                    </div>
    
                    <input type="submit" value="검색" class="btn btn-primary btn-sm">
                    </form>
                    </fieldset>
                    
            </div>
    <!----------------------------------------------------------------->
            <div class="items1">
                하윙2
            </div>
    
            <div class="items1">
                하윙3
            </div>
            <div class="items1">
                하윙4
            </div>
            <div class="items1">
                하윙5
            </div>
            <div class="items1">
                하윙6
            </div>
            <div class="items1">
                하윙7
            </div>
            <div class="items1">
                하윙8
            </div>
            <div class="items1">
                하윙9
            </div>
            <div class="items1">
                하윙10
            </div>
            <div class="items1">
                하윙11
            </div>
            <div class="items1">
                하윙12
            </div>
            <div class="items1">
                하윙13
            </div>
            <div class="items1">
                하윙14
            </div>
            <div class="items1">
                하윙15
            </div>
            <div class="items1">
                하윙16
            </div>
            <div class="items1">
                하윙17
            </div>
            <div class="items1">
                하윙18
            </div>
    
    
        </div> <!---------------지역별 구 끝----------------->
    
    <br><br><!--검색결과 시작 -->
    <div class="location-result" style="margin-left: 10%; text-align: center;"> <!--locationSearch에 css 적용했는데 안되서 일단 이렇게 적용-->
    {% if objects_list %}
        {{search_term}}에 위치한 케이크 가게들입니다<br><br>
        {% for post in objects_list %}
        <div class="cardStore" style="margin-left: 40%;">
            <a href="{% url 'store_detail' pk=post.pk %}" class="goDetail"><img src="{{post.store_image.url}}" class="cardImg" alt=""></a>
            <div class="cardStore-last">
                <div class="titleText">
                    <p class="cardTitle">📍 {{post.name}} [{{ post.location}}]</p>
                </div>
            </div>
            </div>
                <br>
        <!--{{ post.pub_date|date:"N d, Y" }}-->
        
        {% endfor %}
    
    {% elif search_term %}
        <b><i> 검색하신 {{ search_term }} 에 있는 케이크 가게는 없습니다 </i></b>
    {% endif %}

    <!---검색결과 끝-->
    </div>
    </body>
