<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>케이크 등록</title>
</head>
<body>
    <h1>케이크 메뉴 등록</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>예시 케이크 사진을 첨부해주세요.</p>
        <input type="file" name="imgs" multiple>
        <button type="submit">저장</button>
    </form>
</body>
</html>