{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Order Service">
    <title>케이크 주문</title>


    <!--부트스트랩 (order는 상단바 메뉴들이 달라져야 할 것 같아서 )-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
</head>




<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">ALLCAKES</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item ">
                            <a class="nav-link px-2 active" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item ">
                            <!-- FE: 앞에 있던 shop으로 가는 것 -->
                            <a class="nav-link px-2" onclick="goBack()">Shop</a>
                        </li>

                        <!--마이페이지, about us-->
                        <li class="nav-item ">

                            {% if user.is_authenticated %}

                            {% endif %}

                            {% if not user.is_authenticated %}
                            <a class="nav-link px-2" href="#">About Us</a>
                            <!--FE: 임시로 넣음! 링크는 연결 안 했음, 들어갈 페이지 생각해봐야함-->
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="order-main">
        <div class="main-header">
            <p class="p1">주문하기</p>
            <p class="p2">• 아래의 사항을 꼼꼼하게 읽고 주문서를 작성해주세요. •</p>
        </div>

        <div class="form-order">
            <form method='POST' enctype="multipart/form-data" class='post-form'>
                {% csrf_token %}

                <div class="order-form">
                    <div class="order-fixed">
                        <p class="order-info-text">케이크 주문 정보</p>
                        <div class="upper-one">
                            <div class="order-info-box">
                                <p class="order-fixed-info">[ {{cake.referred_store}} ] {{cake.cakename}} </p>
                                <p class="order-fixed-user">[ 주문자 ] {{ user.nickname }}</p>
                            </div>



                            <div class="pickup-info">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>
                    <div class="order-color">
                        <h2 class="color-pick">색 선택</h2>
                        <ul class="색"></ul>
                    </div>


                    <div class="order-cream">
                        <h2 class="cream-pick">크림종류 선택</h2>
                        <ul class="크림종류"></ul>
                    </div>

                    <input type="text" name="coupon" id="coupon-pk" value="a_0" style="display:none;">
                    <div class="button-simul">
                        <button type="submit" class="order-button"> 주문하기 </button>
                        <div class="simulation"></div>
                    </div>
                </div>

            </form>
            <div class="coupon-price">
                <button onclick="coupon('block')">쿠폰</button>
                <div class="price">
                    <div id="coupon" class="coupon">
                        <div>
                            {% for c in a_coupons %}
                            <input type="radio" name="discount" value="{{c.amount}} {{c.pk}}">
                            <label for="amount">{{c.name}} {{c.amount}}원 할인쿠폰</label>
                            {% endfor %}
                            {% for c in p_coupons %}
                            <input type="radio" name="discount" value="{{c.percent}} {{c.pk}}">
                            <label for="percent">{{c.name}} {{c.percent}}% 할인쿠폰</label>
                            {% endfor %}
                            <button type="button" onclick="discount()">선택</button>
                        </div>
                        <button onclick="coupon('none')">닫기</button>
                    </div>
                    <input id="total_price" type=text disabled>
                    <br><br>
                    <div>[ 할인 결제 금액 ] :<div id="total"></div>
                    </div>
                </div>
            </div>

        </div>

        </div>
    </main>
    <script>
        var color = "{{색}}";
        var cream = "{{크림종류}}";
        var colorP = "{{색가격}}";
        var creamP = "{{크림종류가격}}";
        var choice_color = "{{order.색}}";
        var choice_cream = "{{order.크림종류}}";
        var total_price = "{{cake.price}}";
    </script>
    <script type="text/javascript" src="/static/js/orderMenu.js" defer></script>
    <script>
        function goBack() {
            window.history.back();
        }

        function coupon(x) {
            document.getElementById('coupon').style.display = x;
        }

        function discount() {
            var price = document.getElementById('total_price').value;
            console.log(price)
            var ele = document.getElementsByName('discount');
            var discounted_price = 0;
            var check = 0;
            var val = 0;
            var pk = 0;

            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked) {
                    check = 1;
                    val = ele[i].value.split(' ')[0];
                    pk = ele[i].value.split(' ')[1];
                    if (val <= 100) {
                        discounted_price = price * (100 - val) / 100;
                        document.getElementById('coupon-pk').setAttribute("value", "p_" + pk);
                    } else {
                        discounted_price = price - val;
                        document.getElementById('coupon-pk').setAttribute("value", "a_" + pk);
                    }
                }
            }
            if (check == 0) {
                discounted_price = price;
            }
            document.getElementById('total').innerHTML = discounted_price;
        }
    </script>
</body>

</html>