{% load static %}

<style>
    .cakeorder {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Order Service">
    <title>케이크 주문</title>


    <!--부트스트랩 (order는 상단바 메뉴들이 달라져야 할 것 같아서 )-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>




<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">ALLCAKES</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item ">
                            <a class="nav-link px-2 active" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item ">
                            <!-- FE: 앞에 있던 shop으로 가는 것 -->
                            <a class="nav-link px-2" onclick="goBack()">Shop</a>
                        </li>

                        <!--마이페이지, about us-->
                        <li class="nav-item ">

                            {% if user.is_authenticated %}
 
                            {% endif %}

                            {% if not user.is_authenticated %}
                            <a class="nav-link px-2" href="#">About Us</a>
                            <!--FE: 임시로 넣음! 링크는 연결 안 했음, 들어갈 페이지 생각해봐야함-->
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="order-main">
        <div class="main-header">
            <div class="order-main-buttons">
                <a href="/">[ 홈 ></a>
                <input type="button" onclick="goBack()" value="가게로 돌아가기 >" ></input>
                <a href="#">주문하기 ]</a>
            </div>
            <div class="order-main-texts">
                <p class="text1" >주문하기</p>
                <p class="text2">✧ 아래의 양식을 꼼꼼히 채워주세요 ✧</p>
            </div>

        </div>

        <!---------------------------------------------------------------------------------------------------->
        <div class="cakeorder">
            

            <img class="calendar" src="https://i.pinimg.com/564x/35/17/c5/3517c525b2edc6aea7d153164243d9df.jpg"
                width="600px" height="500px">
            <form method='POST' enctype="multipart/form-data" class='post-form'>


                <div class="order-form">
                    <div class="order-fixed">
                        <p class="order-fixed-store">가게명 : {{cake.referred_store}}</p>
                        <p class="order-fixed-cake">케이크명 : {{cake.cakename}}</p>
                        <p class="order-fixed-user">주문자 이름 : {{ user.nickname }}</p>
                    </div>
                    가게명 : {{cake.referred_store}}<br><br>
                    케이크 명 : {{cake.cakename}}<br><br>
                    주문자 이름 : {{ user.nickname }}<br><br>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div><h2>색 선택</h2> 
                        <ul class="색"></ul>
                    </div>
                    <div><h2>크림종류 선택</h2> 
                        <ul class="크림종류"></ul>
                    </div>
                    <button type="submit" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">양식 제출</button>
                </div>
                <div class="simulation"></div>
            </form>
        </div>
    </main>
    <script>
        var color = "{{색}}";
        var cream = "{{크림종류}}";
        var colorP = "{{색가격}}";
        var creamP = "{{크림종류가격}}";
    </script>
    <script type="text/javascript" src="/static/js/orderMenu.js" defer></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>