{% extends 'base.html' %}
{% load static %}

{% block title %}주문 {{order.pk}} 상세{% endblock %}


{% block script %}
<!-- ajax view 호출에 필요한 url 정의 -->
<script type="text/javascript">
    csrf_token = '{{csrf_token}}';
    order_init_transaction_url = '{% url "order_init_transaction" %}';
    order_validation_url = '{% url "order_validation" %}';
    order_complete_url = '{% url "order_complete" %}';
</script>

<!-- 필요한 jquery는 base.html에 있음. -->
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<script src="{% static 'js/pay.js' %}" type="text/javascript"></script>
{% endblock %}


{% block content %}
<br><br><br>
<img src="{{order.referred_cake.cake_image.url}}" aria-label="케이크 이미지" width="300">
<a href="{% url 'cake_detail' pk=order.referred_cake.pk %}">케이크 정보</a>
<!-- 클릭 시 케이크 상세보기 -->

<!-- 주문 상태, 주문 가게(가게 상세보기), 주문 케이크, 주문 일시, 결제금액, 결제방법, 기타 요청사항 등등.. -->
{% if not order.is_active %}
<h2>픽업 완료</h2>
{% else %}
<!-- 진행중 -->
    {% if not order.is_paid %}
    <h2>결제 대기 중</h2>
    {% else %}
        {% if order.is_accepted %}
        <h2>승인 완료/ 제작 진행</h2>
        {% else %}
        <h2>승인 대기중</h2>
        {% endif %}
    {% endif %}
{% endif %}

<h2>'{{order.referred_store}}'의</h2>
<h3>{{order.referred_cake}} 케이크</h3>
<span>주문 일시: {{order.pub_date}}</span>
<br>
<b>픽업 희망일시: {{order.희망픽업일}}{{order.희망픽업시간}}</b>
<br>

<p>
    맛: {{order.맛}} |
    모양: {{order.모양}} |
    사이즈: {{order.사이즈}} |
    크림종류: {{order.크림종류}} |
    레터링 위치: {{order.레터링위치}} |
    레터링 색: {{order.레터링색}}
</p>

{% if order.원하시는도안사진첨부 %}
<img src="{{order.원하시는도안사진첨부.url}}" alt="내가 첨부한 참고 사진">
{% endif %}

<p>금액: {{order.referred_cake.price}}</p>
<p>실 결제 금액: {{order.pay_price}}</p>

<hr>

{% if order.is_paid %}
<h4>결제 내역</h4>
<span>{{order.pay_price}}금액 결제 완료</span>
<!-- 결제 수단 및 금액 적기 -->

{% else %}
<button onclick="requestPay({{order.pk}},{{order.pay_price}})">결제하기</button>
<br>
<!-- 주문 수정 및 삭제 버튼은 결제 이전에만 -->
<span>결제 이전에 주문 내역이 잘 작성 되었는지 확인해주세요!</span>
<a href="{% url 'order_edit' order_pk=order.pk %}"><button>주문 수정</button></a>
<a href="{% url 'order_delete' order_pk=order.pk %}"><button>주문 취소</button></a>
{% endif %}




{% endblock %}