{% load static %}
<style>
.cakeorder{
    display: table; margin-left: auto; margin-right: auto; 
}
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ALLCAKES🍰</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!--<link href="css/styles.css" rel="stylesheet" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'home' %}">ALLCAKES🍰</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <!--
    <header class="bg-dark py-5" style="font-family: Arial; color: rgb(253, 160, 168);">-->
        <header style="color : rgb(173, 16, 121);">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-dark"> <!---->
                <h1 class="display-4 fw-bolder">ALLCAKES🍰</h1>
                <p class="lead fw-normal text-black-50 mb-0">✨주문서 양식✨</p>
            </div>
        </div>
    </header>
      <!---------------------------------------------------------------------------------------------------->
    <div class = "cakeorder">
      

    <h1 style="color:rgb(240, 147, 160);">주문양식</h1>
<br>
<img class="card-img-top" src="https://media.vlpt.us/images/myway00/post/cd6ba949-30b5-4240-b58f-67f8d491f763/image.png" alt="..." />
<br>
<form method='POST' enctype="multipart/form-data" class='post-form'>
    <br>
    가게명 : {{cake.referred_store}}<br><br>
    케이크 명 : {{cake.cakename}}<br><br>
    주문자 이름 : {{ user.username }}<br><br>
    주문자 핸드폰 : {{ user.phone }}<br><br>
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"
    style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">양식 제출</button>
    </form>
    </div>

</body>
</html>