{% extends 'base.html' %}
{% load static %}

{% block title %}리뷰 작성{% endblock %}

{% block content %}
<body>
    <br><br><br><br><br>
    <h1>케이크집 리뷰작성</h1>
    <form method="POST" class="review-form" enctype="multipart/form-data">
        {% csrf_token %}
        <p></p>
        주문자 : {{order.user}}</br>
        주문날짜 : {{order.pub_date}}</br>
        
        <!-- 별점 부분
            class fa fa-star는 별모양의 그림이고 fa-2x는 크기이다. 여기에 check라는 class를 추가하면 별모양의 색깔이 바뀐다.
            onclick 함수를 사용하여 해당 별모양을 누르면 select이라는 함수가 호출되게 함.
            select이라는 함수는 class를 추가하고 삭제하는 함수이다.
            만약 첫번째 별모양을 누르면 js에 있는 select 함수를 통해서 1은 check 클래스를 추가하고
            나머지 2~5 별은 check 클래스를 remove한다. 
        -->
        <div class="input rating">
                <div class="rating-wrapper">
                    <label for="s1" class = "fa fa-star fa-2x" id="star-1" onclick="select('star1')">
                        <input type="radio"  name="rate" value="1" id="s1" /></label>
                    <label for="s2" class = "fa fa-star fa-2x" id="star-2" onclick="select('star2')">
                        <input type="radio" name="rate" value="2" id="s2" /></label>
                    <label for="s3" class = "fa fa-star fa-2x" id="star-3" onclick="select('star3')">
                        <input type="radio" name="rate" value="3" id="s3"/></label>
                    <label for="s4" class = "fa fa-star fa-2x" id="star-4" onclick="select('star4')">
                        <input type="radio" name="rate" value="4" id="s4" /></label>
                    <label for="s5" class = "fa fa-star fa-2x" id="star-5" onclick="select('star5')">
                        <input type="radio" name="rate" value="5" id="s5"/></label>
                </div>
            </div>
            {{ form.as_p }}
        <button type="submit">저장</button>
    </form>
</body>
{% endblock %}
</html>