{% extends 'base.html' %}
{% load static %}

{% block title %}내 리뷰{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/review_all.css' %}" type="text/css">{% endblock %}

{% block content %}
<!-- 모든 리뷰-->
<div class = "review-body">
    <div class="user-review">
        <h2> 리뷰 전체 </h2>
        <div class="user-review">
            <div class="review-info" >
                {% for review in reviews %}
                <div class="review-card">
                    <a href="{% url 'review_detail' review_pk=review.pk %}"><img src="{% if review.review_img %}{{ review.review_img.url }} {% else %} {% static 'img/allcakes_bluecake.png' %} {% endif %}" aria-label="주문한 케이크"></a>
                    <br>
                    <span>Cake: {{review.order.referred_cake}}</span>
                    <br>
                    <span>Store: {{review.order.referred_store}}</span>
                    <br>
                    <section>{{review.comment|slice:"15"}}</section>
                    <div class="stars">
                        <span class="fa fa-star fa-2x checked"></span>
                        <span class="fa fa-star fa-2x {% if review.rate > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star fa-2x {% if review.rate > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star fa-2x {% if review.rate > 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star fa-2x {% if review.rate > 4 %} checked {% endif %}"></span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}