{% extends 'base.html' %}
{% load static %}

{% block title %}리뷰 수정 페이지{% endblock %}

{% block content %}
<body>
    <br><br><br>
    <h1>리뷰 수정</h1>
    <form method="POST" class="review_edit-form" enctype="multipart/form-data">
        {% csrf_token %}
        주문자 : {{review.order.user}}<br>
        주문날짜 : {{review.order.pub_date}}<br>
        <!-- 별점 부분 -->
        <div class="form-group">
            <div class="input rating">
                <div class="rating-wrapper">
                    <label for="s1" class = "fa fa-star fa-2x checked" id="star-1" onclick="select('star1')">
                        <input type="radio"  name="rate" value="1" id="s1" /></label>
                    <label for="s2" class = "fa fa-star fa-2x {% if review.rate > 1 %} checked {% endif %}" id="star-2" onclick="select('star2')">
                        <input type="radio" name="rate" value="2" id="s2" /></label>
                    <label for="s3" class = "fa fa-star fa-2x {% if review.rate > 2 %} checked {% endif %}" id="star-3" onclick="select('star3')">
                        <input type="radio" name="rate" value="3" id="s3"/></label>
                    <label for="s4" class = "fa fa-star fa-2x {% if review.rate > 3 %} checked {% endif %}" id="star-4" onclick="select('star4')">
                        <input type="radio" name="rate" value="4" id="s4" /></label>
                    <label for="s5" class = "fa fa-star fa-2x {% if review.rate > 4 %} checked {% endif %}" id="star-5" onclick="select('star5')">
                        <input type="radio" name="rate" value="5" id="s5"/></label>
                </div>
            </div>
        {{ form.as_p }}
        <button type="submit">저장</button>
    </form>
</body>
{% endblock %}
</html>