{% extends 'base.html' %}
{% load static %}

{% block title %}검색 결과{% endblock %}
{% block css %}

<script defer src="/static/js/search_all.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}

<div class="container2" style="margin-left: 30px; margin-top: 100px; margin-right: 10px;">
	<div class="row">
	<aside class="col-md-3">

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">SIZE</h6>
			</a>
		</header>
		
		<div class="filter-content collapse show" id="collapse_1">
			<div class="card-body">
				<form class="pb-3">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Search">
				  <div class="input-group-append">
				    <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
				  </div>
				</div>
				</form>
				
				<ul class="list-menu">
				<li><h5>추천검색어</h5></li>
				<li><a href="{% url 'test' %}" value="생일">생일</a></li>
				<li><a href="{% url 'character' %}" value="캐릭터">캐릭터</a></li>
				<li><a href="#" value="커플">커플</a></li>
				<li><a href="#" value="동물">동물</a></li>
				<li><a href="#">유머</a></li>
				<li><a href="#">빈티지</a></li>
				<li><a href="#">취업</a></li>
				</ul>

			</div>
		</div>


	</article> <!-- filter-group  .// -->
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Location</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_2">
			<div class="card-body">
				<div class="location_filter" data-filter-group="location1">
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="서울" value=".서울">
				  <div class="custom-control-label"><label for="서울">서울</label>
					  <!--아래는 관련 검색어에 해당하는 숫자의 개수-->
				  	<b class="badge badge-pill badge-light float-right">120</b>  </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input "id="경가" value=".경기">
				  <div class="custom-control-label"><label for="경기">경기</label>
				  	<b class="badge badge-pill badge-light float-right">15</b>  </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input "id="인천" value=".인천">
				  <div class="custom-control-label"><label for="인천">인천</label>
				  	<b class="badge badge-pill badge-light float-right">35</b> </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" id="부산" value=".부산">
				  <div class="custom-control-label"><label for="부산">부산</label>
				  	<b class="badge badge-pill badge-light float-right">89</b> </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <div class="custom-control-label"><label for="대구">대구</label>
				  	<b class="badge badge-pill badge-light float-right">30</b>  </div>
				</label>
				<label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<div class="custom-control-label"><label for="광주">광주</label>
						<b class="badge badge-pill badge-light float-right">30</b>  </div>
				  </label>
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<div class="custom-control-label"><label for="대전">대전</label>
						<b class="badge badge-pill badge-light float-right">30</b>  </div>
				  </label>
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<div class="custom-control-label">울산
						<b class="badge badge-pill badge-light float-right">30</b>  </div>
				  </label>
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<div class="custom-control-label">세종
						<b class="badge badge-pill badge-light float-right">30</b>  </div>
				  </label>
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<div class="custom-control-label">강원도
						<b class="badge badge-pill badge-light float-right">30</b>  </div>
				  </label>
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<div class="custom-control-label">충청북도
						<b class="badge badge-pill badge-light float-right">30</b>  </div>
				  </label>
				  <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input">
					<div class="custom-control-label">충청남도
						<b class="badge badge-pill badge-light float-right">30</b>  </div>
				  </label>
	</div> <!-- card-body.// -->
</div>
		</div>
	</article> <!-- filter-group .// -->
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Price</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3">
			<div class="card-body">
				<input type="range" class="custom-range" min="0" max="100" name="">
				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Min</label>
				  <input class="form-control" placeholder="$0" type="number">
				</div>
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  <input class="form-control" placeholder="$1,0000" type="number">
				</div>
				</div> <!-- form-row.// -->
				<button class="btn btn-block btn-primary">Apply</button>
			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->


	<!--
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Sizes </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_4">
			<div class="card-body">

			<div class="size_filter" data-filter-group="size">

			<label class="checkbox-btn">
				<input type="checkbox" id="" name="size" value="">
				<span class="btn btn-light"><label for="">모두</label></span>
				</label>

			<label class="checkbox-btn">
				<input type="checkbox" id="bottle" name="size" value=".bottle">
				<span class="btn btn-light"><label for="bottle">보틀케이크</label></span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox" id="dosirak" name="size" value=".dosirak">
			    <span class="btn btn-light"><label for="dosirak">도시락케이크</label></span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox" id="12" name="size" value=".12">
				<span class="btn btn-light"><label for="12">1~2인용</label></span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox" id="34" name="size" value=".34">
			    <span class="btn btn-light"><label for="34">3~4인용</label></span>
			  </label>

			  <label class="checkbox-btn">
			    <input type="checkbox" id="5" name="size" value=".5">
			    <span class="btn btn-light"><label for="5">5인 이상</label></span>
			  </label>
			  value를 가져와서 class 명에 value가 포함된 제품만 보이게 한다
			</div>
		</div>card-body.//
		</div>
	</article>filter-group .// -->

	<article class="filter-group">
		<div class="filter-content collapse show" id="collapse_2">
			<div class="card-body">
				<div class="size_filter" data-filter-group="size">
					<!--
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="" name="size" value="">
						<div class="custom-control-label"><label for="">all</label>
					</label>-->
	
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="bottle" name="size" value=".bottle">
						<div class="custom-control-label"><label for="bottle">bottle</label>
					</label>
	
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input " id="12" name="12" value=".12">
						<div class="custom-control-label"><label for="12">1~2인용</label>
					</label>
	
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="34" name="34" value=".34">
						<div class="custom-control-label"><label for="34">3~4인용</label>
					</label>
	
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="5" name="5" value=".5">
						<div class="custom-control-label"><label for="5">5인용</label>
					</label>
				</div> <!-- card-body.// -->
			</div>
		</div>
	</article> <!-- filter-group .// -->


<article class="filter-group">
	<header class="card-header">
		<a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
			<i class="icon-control fa fa-chevron-down"></i>
			<h6 class="title">More filter </h6>
		</a>
	</header>
	<div class="filter-content collapse in" id="collapse_5">
		<div class="card-body">
			<label class="custom-control custom-radio">
				<input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
				<div class="custom-control-label">Any condition</div>
			</label>

			<label class="custom-control custom-radio">
				<input type="radio" name="myfilter_radio" class="custom-control-input">
				<div class="custom-control-label">Brand new </div>
			</label>

			<label class="custom-control custom-radio">
				<input type="radio" name="myfilter_radio" class="custom-control-input">
				<div class="custom-control-label">Used items</div>
			</label>

			<label class="custom-control custom-radio">
				<input type="radio" name="myfilter_radio" class="custom-control-input">
				<div class="custom-control-label">Very old</div>
			</label>
		</div><!-- card-body.// -->
	</div>
</article> <!-- filter-group .// -->
</div> <!-- card.// -->

</aside>
<main class="col-md-9">

	<header class="filters-select border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">6 Items found </span>
			<span class="txt"> 선택하신 값 : </span>
			<span class="user-checked mr-md-auto"></span>

			<select class="filters-select-type mr-2 form-control">
				<option value="*">모두</option>
				<option value="onlystores">stores</option>
				<option value="onlycakes">cakes</option>
			</select>

	<!--		<select class="filters-select mr-2 form-control">
				<option value="*">모두</option>
				<option	value="onlystores">number > 50</option>
				<option value="onlycakes">cakes</option>
			  </select> -->





			<select class="mr-2 form-control">
				<option>최신순</option>
				<option>리뷰 많은 순</option>
				<option>인기순</option>
				<option>가격 낮은 순</option>
				<option>가격 높은 순</option>
			</select>



			<div class="btn-group">
				<a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" title=""
					data-original-title="List view">
					<i class="fa fa-bars"></i></a>
				<a href="#" class="btn  btn-outline-secondary active" data-toggle="tooltip" title=""
					data-original-title="Grid view">
					<i class="fa fa-th"></i></a>
			</div>
		</div>

		<div class="form-inline">

		</div>

	</header><!-- sect-heading -->
	<div class="grid row">
		{% for products in product %}
		{% if products.cakename %}
		<div class="product cakes col-md-4">
			<p class="typed" style="display: none;">cakes</p>
			<li class="{{products.사이즈}} {{products.referred_store.locationSi}} {{product.price}}">
				<figure class="card card-product-grid">
					<div class="img-wrap">
						<a href="{% url 'cake_detail' pk=products.pk %}"><img src={{products.cake_image.url}}
								class="img-fluid"></a>
						<a class="btn-overlay" href="{% url 'cake_detail' pk=products.pk %}"><i
								class="fa fa-search-plus"></i>자세히보기</a>
					</div> <!-- img-wrap.// -->
					<figcaption class="info-wrap">
						<div class="fix-height">
							<a href="#" class="title">{{products.cakename}}</a>
							<div class="price-wrap mt-2">
								<span class="price">{{products.price}}</span>
							</div> <!-- price-wrap.// -->
						</div>
						<a href="#" class="btn btn-block btn-primary">장바구니</a>
					</figcaption>
				</figure>
			</li>
		</div> <!-- col.// -->
		{% endif %}
		{% if products.name %}
		<div class="product stores col-md-4">
			<p class="typed"  style="display: none;">stores</p>
			<li class="{{products.referred_store.locationSi}}">
			<figure class="card card-product-grid">
				<div class="img-wrap">
					<class= href="{% url 'store_detail' pk=products.pk %}"><img src={{products.store_image.url}}
							class="img-fluid"></a>
						<a class="btn-overlay" href="{% url 'store_detail' pk=products.pk %}"><i
								class="fa fa-search-plus"></i>자세히보기</a>
				</div>

				<figcaption class="info-wrap">
					<div class="fix-height">
						<a href="#" class="title">{{products.name}}</a>
						<div class="price-wrap mt-2">
							<span class="price">{{products.price}}</span>
						</div>
					</div>
					<a href="#" class="btn btn-block btn-primary">장바구니</a>
				</figcaption>
			</figure>
		</li>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</main>
<!-----------------endfor 아래 여기 위-->

<div class="pagi" style="margin-left: 1200px;">
	<nav class="mt-4" aria-label="Page navigation sample">
		<ul class="pagination">
			{% if product.has_previous %}
			<li class="page-item"><a class="page-link" href="?page={{product.previous_page_number}}">Previous</a></li>
			{% endif %}
			<li class="page-item active"><a class="page-link" href="?page={{product.number}}">{{product.number}}</li>
			{% if product.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{product.next_page_number}}">Next</a></li>
			{% endif %}
		</ul>
	</nav>
	<!---------------------------->
	<!--
	<nav class="mt-4" aria-label="Page navigation sample">
		<ul class="pagination">
			<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>-->
</div>
{% endblock %}
