{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/storeDetail.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/static/js/marketLocation.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <title>Cake Store Detail</title>
    <script defer src="/static/js/rating.js">    </script>
</head>


<body id="mainBody" onload="열기('{{num}}')">
    <!-- 대표이미지, 가게이름, 위치, 연락처, 설명, 케잌이미지 -->


    <div class="store-detail">
        <img src="{{store.store_image.url}}" width="210" , height="210">
        <div class="store-text">
            <p class="store-name">{{store.name}}</p>
            <b class="store-location">📍 위치 : {{store.location}} </b><br>
            <span class="store-contact">📍 연락처 : {{store.contact}}</span>
            <section class="store-des">[ {{store.text}} ]</section>
        </div>
    </div>

    <!-- 이하 수정은 가게 관리자만 수정 및 삭제할 수 있도록 수정할 예정 -->
    <!-- store.owner를 확인하면 됨. 로그인한 유저이고 owner이면 내용 표출-->
    {% if user.is_authenticated %}
    {% if store.owner == user %}
    <a href="{% url 'store_edit' pk=store.pk %}"><button class="edit-button">정보 수정</button></a>
    <!-- 사장은 가게 페이지에서 정보 수정 및 케이크 생성, 수정할 수 있음. 다만 가게 전체 관리페이지가 필요할듯! -->
    <a href="{% url 'cake_new' pk=store.pk %}"><button>케이크 추가</button></a>
    {% endif %}
    {% endif %}

    <div class="option-box">
        <div class="buttons">
            <input type="button" onclick="열기(0)" value="메 뉴"></input>
            <!--FE: button을 input으로 변경함!-->
            <input type="button" onclick="열기(1)" value="정 보"></input>
            <input type="button" onclick="열기(2)" value="리 뷰"></input>
        </div>

        <!-- 전체 케이크 리스트 -->
        <div class="items">
            <!--버튼 누르면 나오는 설명까지 하나의 div에 묶기-->
            <br><br>
            <p class="items-header">📍 "{{store.name}}"의 모든 케이크</p>
            <hr class="underToday">

            {% for cake in cakelist %}
            <div class="cake-item">
                <div class="cake-img">
                    <a href="{% url 'cake_detail' pk=cake.pk %}"><img src="{{cake.cake_image.url}}" width="240px" height="237px"></a><br>
                    <!-- 케이크 수정 버튼 지웠음 -->
                    <!-- 클릭 시 자세히보기로 들어감. -->
                    <br>
                </div>

                <div class="cake-body">
                    <p class="cake-name">{{cake.cakename}}</p>
                    <hr>
                    <p class="cake-detail">{{cake.body}}</p>
                    <a href="{% url 'order_submit' cake_pk=cake.pk  %}">해당 케이크 주문</a>
                    <!--FE: 케이크 자세히 보기 버튼도 있으면 좋을 듯-->
                </div>
                </a><br>
            </div>
            {% endfor %}
        </div>

        <!--두 번째 버튼, 정보 누르면 나오는 화면-->
        <div class="items">
            <div class="info-box1">
                <p class="store-address"> ▶️ 주소 : 주소(상세주소) 받아와야 함</p>
                <p class="store-bhour"> ▶️ 영업 시간 : 영업 시간 받아와야 함</p>
                <p class="store-contact"> ▶️ 연락처 : {{store.contact}}</p>
            </div>

            <p class="items-header">📍 공지사항</p>
            <hr class="underToday">
            <div class="info-box1">
                <p class="store-main-info"> ▶️ 공지사항 받을 수 있다면 받아오기! </p>
            </div>

            <!--FE: 지도 생각보다 많이 깨져서 한 번 봐야할 듯!-->
             <p class="items-header">📍 지도</p>
            <hr class="underToday">
            <div class="info-box1">
                <p class="mapsize">
                <div id="map" style="width:100%;height:350px;"></div>
                </p>
                <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=72346395b1c307cc36bb8337abc1d059"></script>
                <!-- 키 보안 필요하지 않을까..!--> 
                <script>

                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                center: new kakao.maps.LatLng(37.5573264, 126.9474058), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
                };

                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 마커가 표시될 위치입니다
                var markerPosition = new kakao.maps.LatLng(37.5573264, 126.9474058);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                position: markerPosition
                });

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);

                var iwContent = '<div style="padding:5px;">뽀들렌 케이크<br><a href="https://map.kakao.com/link/map/뽀들렌케이크,37.5573264,126.9474058" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,37.5573264,126.9474058" target="_blank">길찾기</a></div>',
                // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwPosition = new kakao.maps.LatLng(37.5573264, 126.9474058); //인포윈도우 표시 위치입니다

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                position: iwPosition,
                content: iwContent
                });

                // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
                infowindow.open(map, marker);
                </script>
            </div>
        </div>

        <!-- 리뷰  -->
        <!-- FE: 나중에는 리뷰 쓴 사람 아이디도 받아올 수 있게!  -->
        <!-- FE: 별점 높은 순 / 낮은 순 적용!  -->
        <div class="items">
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                <select name = "sort" id ="_sort" onchange="this.form.submit()" >
                    <option class="date" value="date">최신순</option>
                    <option class="highrate" value="highrate">별점높은순</option>
                    <option class="lowrate" value="lowrate">별점낮은순</option>
                </select>
            </form>

            <div class="store-review">
                {% for review in reviewlist %}
                id : {{review.user.nickname}}<br>
                리뷰일시 : {{review.pub_date}}<br>
                가게 이름 : {{review.referred_store.name}}<br>
                주문 케이크 : {{review.referred_cake.cakename}}<br>
                리뷰 내용 : {{review.comment}}<br>
                <span class="fa fa-star fa-2x checked"></span>
                <span class="fa fa-star fa-2x {% if review.rate > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star fa-2x {% if review.rate > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star fa-2x {% if review.rate > 3 %} checked {% endif %}"></span>
                <span class="fa fa-star fa-2x {% if review.rate > 4 %} checked {% endif %}"></span>
                <br><br>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="footerContent1">
        <div class="about">
            <p class="aboutTitle">About</p>
            <hr class="underline">

            <p class="aboutContent">이 어둠을 빨간 코로 비춰줄래
                어디서부터 잘못된 건지
                온 세상이 all black black black
                지금 너와 난
                다 깨져버린 1000피스
                lego block block block
                차라리 더 어두워지면 좋겠어
                이 세상에 스위치가 있다면
                꺼버릴거야
                그리고 널 향한 노랠 부르겠어</p>

        </div>

        <div class="categories">
            <p class="categoryTitle">Categories</p>
            <hr class="underline">

            <li>
                <a href="#" target="_blank">
                    <ul>HOME</ul>
                </a>
                <a href="#" target="_blank">
                    <ul>ABOUT US</ul>
                </a>
                <a href="#" target="_blank">
                    <ul>CONTACT</ul>
                </a>
                <a href="#" target="_blank">
                    <ul>JOIN</ul>
                </a>

            </li>
        </div>

        <div class="links">
            <p class="linkTitle">Links</p>
            <hr class="underline">

            <li>
                <a href="#" target="_blank">
                    <ul>CONTRIBUTE</ul>
                </a>
                <a href="#" target="_blank">
                    <ul a href="#">ABOUT US</ul>
                </a>
                <a href="#" target="_blank">
                    <ul a href="#">CONTACT</ul>
                </a>
                <a href="#" target="_blank">
                    <ul a href="#">PRIVACY POLICY</ul>
                </a>
            </li>
        </div>
    </div>
    <hr class="underline2">


    <div class="footerContent2">
        <p>Copyright &copy; by ALLCAKES All Right Reserved </p>
    </div>
</footer>

</html>
{% endblock %}