<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h1>{{store.name}}님과 {{guest.name}}님의 채팅</h1>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ prev_messages | json_script:"prev_messages"}}
    <script id="prev_messages" type="application/json"></script>
    <script>
        var currentUser = "{{user_name}}"
        var currentUserId = "{{user_Id}}"
        const prev_messages = JSON.parse(document.getElementById("prev_messages").textContent);
        console.log(prev_messages)
        // 이전 대화내용 불러오기
        var mesg = Object.keys(prev_messages)
        for(var i = 0; i < mesg.length; i++){
            var idx = mesg[i]
            console.log(prev_messages[idx])
            document.getElementById('chat-log').value +=  (prev_messages[idx]['user_name'] +"("+prev_messages[idx]['timestamp']+") : "+prev_messages[idx]['message'] + '\n');
        }

        // 소켓만들기
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + '{{store.pk}}'
            + '/'
            + '{{guest.pk}}'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-log').value += (data.user_name+"("+data.timestamp+") : "+ data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            var date = new Date()
            chatSocket.send(JSON.stringify({
                'user_name': currentUser,
                'user_id' : currentUserId,
                'timestamp': date.toLocaleString(),
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>